{% load static from staticfiles %}
<div class="row">
        <div class="col-xs-12 col-md-2 l-header">
            <h1>FRC</h1>
        </div>
        <div class="col-xs-12 col-md-8 c-header">
                <h1>The Foundation to support Frontier Research in Chemistry<br>
                <small>Call for Proposal Portal</small></h1>
         </div>


<div class="col-xs-12 col-md-2">
            <div class="thumbnail pull-left logo_head"><img style = "" src="{% static 'images/FRC_Logo_164_159.png' %}" /></div>
        </div>

</div>