{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} Log In {% endblock %}

{% block body_block %}

{% csrf_token %}

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-md-2">
        <div class="thumbnail pull-left logo_head"><img style = "" src="{% static 'images/FRC_Logo_164_159.png' %}" /></div>
        </div>

        <div class="col-xs-12 col-md-10">
        <div class="page-header">
                <h1>International Center for Frontier Research in Chemistry<br>
                    <small>Call for Proposal Portal</small></h1>
            </div>
        </div>

    </div>

<div class="row">

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    <p style="text-align:center;">Username/Password does not match. Please try again. If you're having issues accessing your account please <a href="mailto:loison@icfrc.fr">contact us</a>.</p>
    </div>
    {% endif %}

<div class="col-md-4"></div>

{% load widget_tweaks %}
<div class="col-xs-12 col-md-4">

<form method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}">
{% csrf_token %}


    {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
                {{ field.errors }}
            </div>
    {% endfor %}

        <input class="btn btn-primary pull-right" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
</form>

</div>

</div>

<div class="row">

    <div class="col-xs-12 col-md-4"></div>

<div class="col-xs-12 col-md-4">
    <p>Forgot your password? <a href="{% url 'password_reset' %}">Click here.</a></p>
    <!--<p>Need an account? Click <a href="{% url 'create_profile' %}">here</a> to create.</p>-->
</div>

<div class="col-xs-12 col-md-4"></div>

</div>

</div>

{% endblock %}