{% extends 'base.html' %}

{% block title %} Your Profile {% endblock %}

{% block body_block %}

{% csrf_token %}
<script>

   console.log('Actife le script on page ?');
   $('#id_password').addClass("hide");
</script>

<div class="container">
<div class="row">
<div class="col-md-4"></div>

{% load widget_tweaks %}
<div class="col-xs-12 col-md-4">

<form method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}">
{% csrf_token %}
<div class="form-group">

    {{ form.username.label_tag }}
    {{ form.username|add_class:"form-control" }}
     {{ form.username.errors }}

</div>

<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password|add_class:"form-control" }}
    {{ form.password.errors }}
</div>
        <input class="btn btn-primary pull-right" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
    <div class="col-xs-12 col-md-4"></div>

</div>

<div class="row">

    <div class="col-xs-12 col-md-4"></div>

<div class="col-xs-12 col-md-4">
    <p>Forgot your password? <a href="{% url 'password_reset' %}">Click here.</a></p>
    <p>Need an account? Click <a href="{% url 'create_profile' %}">here</a> to create.</p>
</div>

<div class="col-xs-12 col-md-4"></div>

</div>

</div>

{% endblock %}