{% extends "base.html" %}
{% load i18n grp_tags %} {# grp_csrf #}

{% block bodyclass %}grp-login{% endblock %}
{% block title %}{% if validlink %}{% trans 'Enter new password' %}{% else %}{% trans 'Password reset unsuccessful' %}{% endif %}{% endblock %}

{% block body_block %}
{% load widget_tweaks %}

<div class = "container">
    <div class="row">
{% if validlink %}
            <form action="" method="post">{% csrf_token %}
                <fieldset class="">

                     <div class="col-xs-12 col-md-12">
                            <div class="alert alert-link">
                                <p style="text-align:center;">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                            </div>
                     </div>

                     <div class="col-xs-12 col-md-4"></div>

                     <div class="col-xs-12 col-md-4">

                        <div class="form-group">
                            <label for="id_new_password1" class="required">{% trans 'New password:' %}</label>
                            {{ form.new_password1|add_class:"form-control" }}
                            {{ form.new_password1.errors }}
                        </div>

                        <div class="form-group">
                            <label for="id_new_password2" class="required">{% trans 'Confirm password:' %}</label>
                            {{ form.new_password2|add_class:"form-control" }}
                            {{ form.new_password2.errors }}
                            <p class="grp-help">{% trans 'Enter the same password as above, for verification.' %}</p>
                        </div>


                        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary pull-right" />

                     </div>

                </fieldset>

                <div class="col-xs-12 col-md-4"></div>

            </form>
        {% else %}
            <div class="col-xs-12 col-md-12">
                    <div class="alert alert-danger">
                        <p style="text-align:center;">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
