{% extends "base.html" %}

{% block bodyclass %}grp-login{% endblock %}
{% block title %}Password reset{% endblock %}

{% block body_block %}
{% load widget_tweaks %}

    <div class="container">

        <div class="row">
             <div class="col-xs-12 col-md-12">
                 <div style="margin: 10px 0;" class="alert alert-info">
                         <p style="text-align:center;">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                 </div>
             </div>
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
        <form action="" method="post">{% csrf_token %}
            <fieldset class="">

                                <div class="form-group">
                                    <label for="id_email">Email address:<span class="req"> *</span></label>
                                    {{ form.email|add_class:"form-control" }}
                                    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                                </div>

            </fieldset>
            <input type="submit" value="Reset my password" class="btn btn-apply btn-login pull-right" />
            </form>
            </div>

            <div class="col-xs-12 col-md-4"></div>

        </div>

    </div>
{% endblock %}

