html {

min-height:100%;
position:relative;

}

body {
    margin-bottom: 80px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Navigation Bar */
.navbar
{
    background-color:white;
}

.navbar-default{
background-image:none;
}

.navbar-default .navbar-nav>li>a{
color:RGB(0,94,167);
}

.navbar-default .navbar-nav>li>a:hover{
color:RGB(0,94,167);
font-weight:bold;
}

.navbar-default .navbar-nav>li>a:focus{
color:RGB(0,94,167);
font-weight:bold;
}

.dropdown-menu>li>a{
    color:RGB(0,94,167);
}

.dropdown-menu>li>a:hover{
    color:RGB(0,94,167);
    font-weight:bold;
}

.jumbo_styling{
    /*background: url("") no-repeat center center;*/
    height:250px;
}

.jumbo_head{
    background-color:RGBA(255,255,255,0.8);
    margin-top:100px;
    padding: 10px 0px 10px 0px;
    text-align:center;
    border-radius: 5px;
}

.progress_step{
    width:100%;
    background-color: #c8c8c8;
    border:none;
}

.active {
    background-color:RGB(0,94,167) !important;
    color:white;
}

.no_m_h{
    margin-left: 0px !important;
    margin-right:0px !important;
}

.steps{
    margin:20px 0px 20px 0px;
    height:25px;
}

.project_tab{
    margin-bottom: 10px !important;
}

.project_tab > ul > li {

}

.project_tab > ul > li > p {
    padding-top:15px;
}


/* Tab style */
.nav-tabs>li>a {margin:0px;}

.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{
    background-color:white;
}

.tab_role{
    background-color:RGB(0,94,167);
    color:white;
    border-radius:5px 5px 0px 0px;
    border:none;
}

.tab_role.active{
    background-color:white;
    color:RGB(0,94,167);
    border-radius:5px 5px 0px 0px;
    border:none;
}


.tab_role:hover,.tab_role:focus{
    color:RGB(0,94,167);
    border-radius:5px 5px 0px 0px;
    border:none;
}

.tab_role > a {
    text-decoration:none;
    color:white;
}

.tab_role > a:hover {
    background-color:white;
    text-decoration:none;
    color:RGB(0,94,167);
}

.review_tab{
    background-color:green;
}

/*Home page items */

.index_menu{
    width:100%;
    height:100px;
    background-color:RGB(0,94,167);
    border:none;
    color:white;
}


.no_l_pad{
    padding-left:0px;
}

.no_r_pad{
    padding-right:0px;
}

.req{
    color:red;
    font-size:12px;
}

.save_btn{
    width:100px;
    margin-top:20px;
}

.small_link{
    font-size:12px;
    text-decoration:none;
}

/*Progress tracking*/

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #5FCF80 ;
}
ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid RGB(0,94,167);
}

ol.progtrckr li.progtrckr-focus{
    color: black;
    font-weight: bold;
    border-bottom: 4px solid RGB(0,94,167);
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #5FCF80;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

ol.progtrckr li.progtrckr-focus:before {
    content: "\039F";
    color: black;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

/* */
.rfp_title{
    margin:0px 0px 25px 0px;
}

.btn-apply{
    margin-top:30px;
    width:150px;
    padding:10px 0px 10px 0px;
    background-color:RGB(0,94,167) !important;
    color:white;
}

.btn-apply:hover,.btn-apply:focus,.btn-action:hover,.btn-action:focus{
    background-color:white !important;
    color:RGB(0,94,167);
    border: 1px solid RGB(0,94,167);
}

.btn-apply:active,.btn-action:active{
    background-color:RGBA(0,94,167,0.7)!important;
    color:white;
    border: 1px solid RGB(0,94,167);
    border:none;
}

.btn-action{
    margin-top:30px;
    padding:10px 20px 10px 20px;
    background-color:RGB(0,94,167) !important;
    color:white;
}

.btn-review{
    padding:10px 20px 10px 20px;
    background-color:#333;
    color:white;
}

.btn-review:hover{
    padding:10px 20px 10px 20px;
    background-color:white;
    color:#333;
    border: 1px solid #333;
}



.edit_link > a
{
    font-size:12px;
}

.edit_label{
    text-align:left !important;
}

.proj_header{
    margin-bottom:15px;
}

.project_container{
    padding : 0px !important;
}
 .sep {
    margin: 10px 0px 10px 0px;
 }

.no_border{
    border:None;
    webkit-box-shadow: None;
    box-shadow: None;
}

#edit{
    width:100%;
    background-color:black;
}

#edit > a {
    color:white;
}

.save{
    width:100%;
}

.save > a {
    color:white;
}

.footer {
  position:absolute;
  bottom:0;

  width: 100%;
  /* Set the fixed height of the footer here */

  height: 60px;
  background-color:white;
  color:RGB(0,94,167);
}

.footer-text
{
    padding-top:5px;
}

.footer .footer-text p{
    text-align:center;
    font-size:12px;

}

.footer .footer-text p > a
{
    font-size:12px;
    color:RGB(0,94,167);
}

.file_field{
    margin-left:-15px;
}

.errorlist{
    padding-left:0px;
    list-style:none;
}

.errorlist > li {
    color:red;
    font-size:12px;
}

.logo{
    border:none;
    height:150px;
    webkit-box-shadow: 0 0px 0px rgba(0,0,0,.075);
    box-shadow: 0 0px 0px rgba(0,0,0,.075);
}

.logo > img {
    height:100px;
}

.logo_head{
    border:none;
    height:150px;
    webkit-box-shadow: 0 0px 0px rgba(0,0,0,.075);
    box-shadow: 0 0px 0px rgba(0,0,0,.075);
}


