html {

min-height:100%;
position:relative;

}

body {
    margin-bottom: 80px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar
{
    background-color:white;
    color:RGB(153,51,153);
}

.navbar-default{
background-image:none;
}

.navbar-default .navbar-nav>li>a{
color:RGB(0,94,167);
}

.navbar-default .navbar-nav>li>a:hover{
color:RGB(0,94,167);
font-weight:bold;
}

.navbar-default .navbar-nav>li>a:focus{
color:RGB(0,94,167);
font-weight:bold;
}

.dropdown-menu>li>a{
    color:RGB(0,94,167);
}

.dropdown-menu>li>a:hover{
    color:RGB(0,94,167);
    font-weight:bold;
}

.jumbo_styling{
    /*background: url("") no-repeat center center;*/
    height:250px;
}

.jumbo_head{
    background-color:RGBA(255,255,255,0.8);
    margin-top:100px;
    padding: 10px 0px 10px 0px;
    text-align:center;
    border-radius: 5px;
}

.no_l_pad{
    padding-left:0px;
}


.save_btn{
    width:100px;
    margin-top:20px;
}

.edit_link > a
{
    font-size:12px;
}

.edit_label{
    text-align:left !important;
}

.proj_header{
    margin-bottom:15px;
}

.project_container{
    padding : 0px !important;
}
 .sep {
    margin: 10px 0px 10px 0px;
 }

.project_data{

}

#edit{
    width:100%;
    background-color:black;
}

#edit > a {
    color:white;
}

.save{
    width:100%;
}

.save > a {
    color:white;
}

.footer {
  position:absolute;
  bottom:0;

  width: 100%;
  /* Set the fixed height of the footer here */

  height: 60px;
  background-color:white;
  color:RGB(0,94,167);
}

.footer-text
{
    padding-top:5px;
}

.footer .footer-text p{
    text-align:center;
    font-size:12px;

}

.footer .footer-text p > a
{
    font-size:12px;
    color:RGB(0,94,167);
}

.file_field{
    margin-left:-15px;
}

.errorlist{
    padding-left:0px;
    list-style:none;
}

.errorlist > li {
    color:red;
    font-size:12px;
}

.logo{
    border:none;
    height:150px;
    webkit-box-shadow: 0 0px 0px rgba(0,0,0,.075);
    box-shadow: 0 0px 0px rgba(0,0,0,.075);
}

.logo > img {
    height:100px;
}