<html>
<body>
<p>Hello,</p>

<p>We would ike you to review this project: <strong>{{ review.project.name }}</strong></p>
<p>Author: {{ review.project.user.get_full_name }}.</p>
<p>Abstract: {{ review.project.scope_of_work }}</p>
<p>Keywords: {{ review.project.purpose }}</p>

<p>To review this project, please click <a href="http://127.0.0.1:8000{{ url_accept }}">here</a> or copy/paste this link in your browser: http://127.0.0.1:8000{{ url_accept }}</p>

<p>To refuse to review this project, please click <a href="http://127.0.0.1:8000{{ url_refuse }}">here</a> or copy/paste this link in your browser: http://127.0.0.1:8000{{ url_refuse }}</p>

<p>

Best,<br>
The FRC Team.
</p>

</body>
</html>