<!--Waiver form-->
<div class="block_sub_title">
                                    Do you accept to review this project ?
</div>


<form class="waiver_form" method="post" action="{% url 'post_review_waiver' review.id %}" >
{% csrf_token %}
                {% for f in form %}
                    {{ f }}
                    {{ f.errors }}
                {% endfor %}

                <div class="agreement"> By agreeing to review this project, I understand that information are confidential. I engage to not communicate any elements...Blablblblblblblblblblblblblblblblbl
                blblblblblblblblblaaaaa.</div>

  <button type="submit" class="btn btn-waiver pull-right">Submit</button>

</form>
