<!--Review ranking-->

<hr>

{% load bootstrap3 %}

<form id="rate_form" class="form-inline" method="post" action="{% url 'view_review' review.id %}">
    {% csrf_token %}
   <div class="form-group">

    {% bootstrap_form form %}/5 (5 as the highest)

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="rate_info">
    <div class="alert alert-success" role="alert">Thank you, your rating of {{ review.note }}/5 has been succesfully recorded.</div>
</div>

<script>

</script>