<!--Review ranking-->

<hr>

{%  if review.dropped %}

    <div id="rate_info">
        <div class="alert alert-danger" role="alert">This review has been flagged as incorrect and won't be considered in the review process.</div>
    </div>

{% else %}

{% load bootstrap3 %}

<form id="rate_form" class="form-inline" method="post" action="{% url 'view_review' review.id %}">
    {% csrf_token %}
   <div class="form-group">

    Check this box: {% bootstrap_form form %} and click submit to flag this review as incorrect.

  </div>
  <input class="btn btn-danger" type="submit" value="Submit" />
</form>

{%  endif %}
