<div class="row">
    {% load user_extras %}

    <div class="col-xs-12 col-md-12">
        <h3>Welcome to the portal...</h3>
        <p>You'll find below all project submitted to ......</p>
        <p>Use the button below to jump from CFP to CFP</p>
    </div>

    <div>

    </div>
    {% for rfp in list_of_cs_rfp %}

        <div class="col-xs-12 col-md-4">

            <a class="btn btn-anchor review_icon" href="#{{ rfp }}">
                {{ rfp }}
            </a>

        </div>

    {% endfor %}
</div>

<div class="row cs_header">
    <div class="cs_block_title">
        <div class="cs_icon_cell pull-left project_icon">
            <span class="glyphicon glyphicon-inbox"></span>
        </div>

        <div class="pull-left cs_title_cell">
            Project you're reviewing
        </div>
    </div>
</div>

{% for t in list_of_tagged_project %}

    <div class="project_block">

        <h3>
            <a class="link_nostyle" href="{% url 'scientific_board_project_details' t.project.id %}" target="_blank">{{ t.project }}</a>
        </h3>

        <p>PI: {{ t.project.user.get_full_name }}</p>
        <p>Amount Requested: {{ t.project.requested_amount }}</p>
        <p>Keywords: {{ t.project.keywords }}</p>
        <p>Comments: .</p>
        <p><a href="{% url 'scientific_board_project_details' t.project.pk %}" target="_blank">See full project</a></p>

        <div class="tag-list">
            <ul>

                {% for t in t.project|tag_list %}
                    <li> <span class="glyphicon glyphicon-user"></span> {{ t.user.get_full_name }} </li>
                {% empty %}
                    <p><em>No Board Reviewer designated yet.</em></p>
                {% endfor %}

            </ul>
        </div>
    </div>
{%  empty %}
    <p><em>You haven't selected any project yet.</em></p>
{%  endfor %}


{% for rfp in list_of_cs_rfp %}

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <a href="#{{ rfp }}"></a>
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="row">
                <!--Request for Proposal title-->
                <div id="{{ rfp }}" class="title_section">

                    <div class="title_square">

                        <div class="title_content">


                            <span class="nav-to-top-link pull-right"><a href="#">Back to the top</a></span>


                            <div class="title_table pull-left">
                                <div class="title_cell review_icon">
                                    <span class="glyphicon glyphicon-book"></span>
                                </div>
                            </div>

                            <div class="title_table_title pull-left">
                                <div class="title_cell title_text">
                                    {{ rfp }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Project table-->

            {% if rfp.list_of_project %}
                {% for p in rfp.list_of_project %}
                    {% load comments %}

                    <div class="project_block">

                        <h3>
                            <a class="link_nostyle" href="{% url 'scientific_board_project_details' p.id %}" target="_blank">{{ p }}</a>
                        </h3>

                        <p>PI: {{ p.user.get_full_name }}</p>
                        <p>Amount Requested: {{ p.requested_amount }}</p>
                        <p>Keywords: {{ p.keywords }}</p>
                        <p>Comments: {% get_comment_count for p as comment_count %} {{ comment_count }}.</p>
                        <p><a href="{% url 'scientific_board_project_details' p.id %}" target="_blank">See full project</a></p>

                        <div class="tag-list">
                            <ul>

                                {% for t in p|tag_list %}
                                    <li> <span class="glyphicon glyphicon-user"></span> {{ t.user.get_full_name }} </li>
                                {% empty %}
                                    <p><em>No Board Reviewer designated yet.</em></p>
                                {% endfor %}

                            </ul>
                        </div>



                    </div>


                {% endfor %}


            {% endif %}


        </div>
    </div>
{% endfor %}


<script>
    $('.project_block_details').hide();
    $('.glyphicon-collapse-down').click(function() {
        $('body').scrollTo('#target');
        $(this).toggleClass('glyphicon-collapse-up').toggleClass('glyphicon-collapse-down').parent().parent().find('.project_block_details').toggle(400);
    });

</script>