<!DOCTYPE html>

{% load static from staticfiles %}
{% load user_extras %}

<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {{ project }} {% endblock %}</title>

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />-->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
    <script src="{% static 'js/js.js' %}"></script>

</head>
<body>
{% load bootstrap3 %}

<div class="top_spacer"> </div>

<div class="container">
    <div class="top_spacer">
        <span style="margin-top:15px;" class="pull-right"><a href="javascript:window.print()">Print</a> | <a href="javascript:window.close()">Close</a></span> </div>
    <div class="col-xs-12 col-md-12">

        <div class="row cs_header">

            <!--Tag Module-->
            <div class="cs_block_title sci_title">
                Board Reviewers
            </div>


            <div class="tag-list">
                <ul>
                    {% for t in tag_list %}
                    <li> <span class="glyphicon glyphicon-user"></span> {{ t.user.get_full_name }} </li>
                    {% endfor %}

                {% if project.rfp.status != 'closed' %}
                    {% if user_is_tagged %}
                    <a href="{% url 'remove_tag' project.id %}">Remove me from Board Reviewer</a>
                    {% else %}
                    <a href="{% url 'add_tag' project.id %}">Add me as a Board Reviewer</a>
                    {% endif %}
                {%  endif %}
                </ul>
            </div>

            <!--Project Title-->
            <div class="cs_block_title">
                <div class="cs_icon_cell pull-left project_icon">
                    <span class="glyphicon glyphicon-inbox"></span>
                </div>

                <div class="pull-left cs_title_cell">
                    Project
                </div>
            </div>

        </div>

        <div class="row cs_body">
            <span style="font-size:25px; line-height: 31px;">{{ project }}</span>
            <h4><strong>Author:</strong> {{ project.user.get_full_name }}</h4>

            {% for p in project_data %}
            {% if p.label == '' %}
            <p class="project_data hide" id=""><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>

            {% elif p.name == 'document' %}
                <hr>
            <div class="row">
                <div class = "col-xs-12 col-md-12">
                    <p><strong>To print the proposal description: </strong></p>
                    <p>To print the summary page click <a href="javascript:window.print()">here</a></p>
                    <p>To print the scientific description of the project:
                        {% if project.document %}
                            <a href="{{ project.document.url }}" target="_blank">{{ project.document.name }} </a>
                        {%  else %}
                            <em>None.</em>
                        {% endif %}
                    </p>
                    <p>To print the different quotes associated with the project: </p>

                    {%  if list_of_bl %}
                        </ul>
                        {% for bl in list_of_bl %}
                            {% if bl.category == 'EQ' %}
                               <li>{{ bl.item }} ({{ bl.amount }} Eur.) :
                               {% if bl.quote %}
                                   <a href="{{ bl.quote.url }}" target="_blank">{{ bl.quote }}</a>
                                   {% else %} <em>No document.</em>
                               {% endif %}
                               </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                     {% else %}
                        <em>None.</em>
                     {% endif %}
               </div>
            </div>
                <hr>
            {% else %}

            <p class="project_data" id="{{ p.label|slugify }}"><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>

            {% endif %}

            {% endfor %}

        </div>

        <div class="row cs_header">

            <!--Budget Title-->
            <div class="cs_block_title">
                <div class="cs_icon_cell pull-left budget_icon">
                    <span class="glyphicon glyphicon-euro"></span>
                </div>

                <div class="pull-left cs_title_cell">
                    Budget
                </div>
            </div>


        </div>

        <div class="row cs_body">

            <h4><strong>Total requested:</strong> {{ project.requested_amount }} Eur.</h4>

            <div class="cs_block_sub_title">
                <div class="pull-left cs_title_cell cs_sub_title_cell_budget">
                    Human Resources
                </div>
            </div>

            <div class="table_budget">
                <table class="table table-striped">

                    <thead>
                    <tr>
                        {% for c in HR_form %}
                        <th> {{ c.label }} </th>
                        {% endfor %}
                    </tr>

                    </thead>

                    <tbody>
                    {% for bl in list_of_bl %}
                    {% if bl.category == 'HR' %}
                    <tr>
                        <td> {{ bl.item }} </td>
                        <td> {{ bl.duration }}</td>
                        <td> {{ bl.monthly_salary}}</td>
                        <td> {{ bl.amount }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{ project|bl_total:'HR' }}</strong></td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="cs_block_sub_title">

                <div class="pull-left cs_title_cell cs_sub_title_cell cs_sub_title_cell_budget">
                    Equipment
                </div>
            </div>

            <div class="table_budget">
                <table class="table table-striped">

                    <thead>
                    <tr>
                        {% for c in EQ_form %}
                        <th> {{ c.label }} </th>
                        {% endfor %}
                    </tr>

                    </thead>

                    <tbody>
                    {% for bl in list_of_bl %}
                    {% if bl.category == 'EQ' %}
                    <tr>
                        <td>{{ bl.item }}</td>
                        <td>{% if bl.quote %} <a href="{{ bl.quote.url }}" target="_blank">{{ bl.quote }}</a>{% else %} <em>None</em> {% endif %}</td>
                        <td>{{ bl.amount }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td></td>

                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{ project|bl_total:'EQ' }}</strong></td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="cs_block_sub_title">

                <div class="pull-left cs_title_cell cs_sub_title_cell cs_sub_title_cell_budget">
                    Operating Costs
                </div>
            </div>

            <div class="table_budget">
                <table class="table table-striped">

                    <thead>
                    <tr>
                        {% for c in OC_form %}
                        <th> {{ c.label }} </th>
                        {% endfor %}
                    </tr>

                    </thead>

                    <tbody>
                    {% for bl in list_of_bl %}
                    {% if bl.category == 'OP' %}
                    <tr>
                        <td>{{ bl.item }}</td>
                        <td>{{ bl.amount }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{ project|bl_total:'OP' }}</strong></td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>



        <div id = "reviewer" class="row cs_header">

            <!--Review Title-->
            <div class="cs_block_title">
                <div class="cs_icon_cell pull-left review_icon">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>

                <div class="pull-left cs_title_cell">
                    Reviews
                </div>
            </div>


        </div>

        <div class="row cs_body">


            <div class="cs_block_sub_title">

                <div class="pull-left cs_title_cell cs_sub_title_cell_rev">
                    Reviewers
                </div>
            </div>


            <table class="table">

                <thead>
                <tr>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Type</th>
                </tr>
                </thead>

                <tbody>
                {% for r in prop_rev_list %}
                <tr>
                    <td>{{ r }}</td>
                    <td>{{ r.email }}</td>
                    <td>{{ r.city }}</td>
                    <td>{{ r.country }}</td>
                    <td>{{ r.type }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>
                <a href="{% url 'dashboard_add_admin_proposed_reviewer' project.pk %}">
                    Propose another reviewer
                </a></p>

            <div class="cs_block_sub_title">

                <div style="border-left: 5px solid #333647;" class="pull-left cs_title_cell ">
                    Posted Reviews
                </div>
            </div>

            {% for review in list_of_review %}

            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Date</th>
                    <th>Reviewer</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>

                </thead>

                <tbody>
                <tr>
                    <td>
                        <a href="{% url 'view_review' review.id %}" target="_blank">{{ review.date}}</a>
                    </td>
                    <td>{{ review.user.get_full_name }}</td>
                    <td>{{ review.rating }}</td>
                    <td><a href="{% url 'view_review' review.id %}" target="_blank">Read this review</a>
                    {%  if review.dropped  %} <span style="color:red;"> ! Incorrect review !</span>{%  endif %}
                    </td>
                </tr>
                </tbody>

            </table>

            {% empty %}

            <p><em>Sorry no reviews submitted for the moment.</em></p>
            {% endfor %}

        </div>
        <hr>

        {% load comments %}
        {% load bootstrap3 %}
        <!--Comments Section-->
        <div id='comments' class="row cs_header">

            <div class="cs_block_title">
                <div class="cs_icon_cell pull-left comments_icon">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                </div>

                <div class="pull-left cs_title_cell">
                    Comments
                </div>
            </div>
        </div>

        <div class="row cs_body">
            <div class="comments_body">
                {% get_comment_count for project as comment_count %}
                {% if comment_count < 1 %}
                <p><em>No comments posted yet.</em></p>
                {% else %}

                {% render_comment_list for project %}

                {% endif %}
            </div>

            {% get_comment_form for project as form %}

            <div class="comments_title_box">

                <span class="comments_title"> Post a comment - {{ user.get_full_name }} <small>({% now "jS F Y H:i" %})</small>: </span>

            </div>
            <table>

                <form action="{% comment_form_target %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_field form.comment %}
                    {{ form.honeypot }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <tr>
                        <td colspan="2">
                            <input class="btn btn-comments" type="submit" name="submit" value="Post">
                            <input class="btn btn-comments hide" type="submit" name="preview" value="Preview">
                            <input type="hidden" name="next" value="{% url 'scientific_board_project_details' project.id %}?a=#comments" />
                        </td>
                    </tr>
                </form>
            </table>

            <script>
                $('#id_honeypot').hide();
                $('label').hide();
            </script>

        </div>

    </div>

    <span class="pull-right"><a href="javascript:window.print()">Print</a> | <a href="javascript:window.close()">Close</a></span>
</div>

<script>
    $('#project-name').hide()
</script>

</body>
</html>
