<div class="title_section">

        <div class="title_square">

            <div class="title_content">

                <div class="title_table pull-left">
                        <div class="title_cell project_icon">
                               <span class="{% block title_icon %} {% endblock %}"></span>
                        </div>
                </div>

                <div class="title_table_title pull-left">
                        <div class="title_cell title_text">
                               {% block title_text %} {% endblock %}
                        </div>
                </div>

            </div>
        </div>
    </div>