{% extends 'base.html' %}

{% block title %} Your Profile {% endblock %}

{% block body_block %}

{% csrf_token %}

<div class="container">

<form action="" method="post">

{% csrf_token %}

    {% for f in form %}
    <div class = "form-group">

            <label>{{ f.label }} {% if f.field.required %} <span class="req"> *</span>{% endif %}</label>
            {{ f }}
            {{ f.errors }}

    </div>

    {% endfor %}


    <button class="btn btn-apply" type="submit" value="Submit">Save</button>
    <input id="redirect" type="hidden" name="redirect" value="" />

</form>

</div>

{% endblock %}
