<div class = "container">

{% for r in rfp_list %}
<h1>Introduction</h1>
    <p>{{ r.description|linebreaksbr }}</p>

    <h2>Categories</h2>

    {% for c in rfp_c %}
                    {% if c.request_for_proposal.id = r.id %}
                    <div class="rfp_title">
                            <h3>{{ c.name }}</h3>
                    </div>
                          <div class="row">
                              <div class="col-xs-12 col-md-4">
                                  <div class="thumbnail no_border">
                                    {% if c.logo %}
                                        <a href="{% url 'rfpcampaign_detail' c.id %}"><img src="{{ c.logo.url }}" alt="{{ c.name }}"></a>
                                    {% endif %}
                                  </div>
                              </div>

                              <div class="col-xs-12 col-md-6">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat ex id lorem hendrerit, vel viverra turpis bibendum. Donec pretium condimentum neque quis eleifend.
                                    Proin lacinia hendrerit eleifend. Suspendisse non tellus scelerisque, scelerisque ipsum venenatis, bibendum nulla. Donec faucibus at dolor nec mattis. Nullam molestie lorem augue, non consectetur sem ultrices at. Proin id urna enim. Vivamus elit turpis, sodales a semper vitae, dignissim eget dolor.
                                  </p>
                              </div>

                              <div class="vertical-align col-xs-12 col-md-2">
                                  <a class="btn btn-apply" href="{% url 'rfpcampaign_detail' c.id %}">Apply</a>
                              </div>
                          </div>
                {% endif %}
    {% endfor %}
{% endfor %}

</div>