<div class = "container">

<h1>Introduction</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac est nibh.
        Aliquam feugiat neque egestas augue fermentum, vulputate vulputate lorem auctor. Maecenas ut porta nibh.
        <br>
        <br>
        Duis ut mauris interdum, efficitur eros eget, venenatis enim. Vivamus vulputate tempor nulla, vel varius nisl scelerisque vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin malesuada efficitur elit ac volutpat. Aenean in sodales odio. In ut vehicula magna.
        Mauris posuere arcu at elit placerat efficitur. <br>
        Phasellus velit risus, fermentum eget dui eu, aliquet tristique lectus.
        Nullam pulvinar pellentesque orci, quis sodales purus tempus non.</p>

    <h2>Categories</h2>

    {% for c in rfp_c %}

                    <div class="rfp_title">
                            <h3>{{ c.name }}</h3>
                    </div>
                          <div class="row">
                              <div class="col-xs-12 col-md-4">
                                  <div class="thumbnail no_border">
                                    {% if c.logo %}
                                        <a href="{% url 'rfpcampaign_detail' c.id %}"><img src="{{ c.logo.url }}" alt="{{ c.name }}"></a>
                                    {% endif %}
                                  </div>
                              </div>

                              <div class="col-xs-12 col-md-6">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat ex id lorem hendrerit, vel viverra turpis bibendum. Donec pretium condimentum neque quis eleifend.
                                    Proin lacinia hendrerit eleifend. Suspendisse non tellus scelerisque, scelerisque ipsum venenatis, bibendum nulla. Donec faucibus at dolor nec mattis. Nullam molestie lorem augue, non consectetur sem ultrices at. Proin id urna enim. Vivamus elit turpis, sodales a semper vitae, dignissim eget dolor.
                                  </p>
                              </div>

                              <div class="vertical-align col-xs-12 col-md-2">
                                  <a class="btn btn-apply" href="{% url 'rfpcampaign_detail' c.id %}">Apply</a>
                              </div>
                          </div>

    {% endfor %}

</div>