



               <table class="table">
                   <h2>Your Reviews</h2>
                <thead>
                        <tr>
                            <th>Project</th>
                            <th>Action</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for r in reviews %}

                    <tr>
                        <td><a href="{% url 'project_detail' r.project.id %}">{{ r.project.name }}</a></td>

                        <td>Click <a href="{% url 'post_review' r.id %}"> here </a> to {% if r.status == 'completed' %}edit{% else %}complete{% endif %} your review.</td>
                        <td>{{ r.project.rfp.name }}</a></td>
                        <td>{{ r.status|capfirst }}</td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>

