                <table class="table table-striped">
                    <thead>
                            <tr>
                                <th>Project</th>
                                <th>Status</th>
                                <th></th>

                            </tr>
                    </thead>

                    <tbody>
                    {% for r in reviews %}

                    <tr>
                        <td><a href="{% url 'project_detail' r.project.id %}">{{ r.project.name }}</a></td>
                        <td>{{ r.status|capfirst }}</td>
                        <td><a href="{% url 'post_review' r.id %}">{% if r.status == 'completed' %}Edit{% else %}Complete{% endif %}</a> </td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>