{% if list_of_rfp %}

        {% include 'rfp/rfp_details.html' %}

    {% else %}

        <!--Review Title-->
        <div class="row cs_header">

            <div class="cs_block_title">
                            <div class="cs_icon_cell pull-left rfp_icon">
                                <span class="glyphicon glyphicon-book"></span>
                            </div>

                            <div class="pull-left cs_title_cell">
                            Call for Proposals
                            </div>
            </div>

        </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p><em>Sorry, no open call for proposals at this moment.</em></p>
        </div>
    </div>

    {% endif %}
