{% extends 'base.html' %}

{% block title %}Welcome to the ICFRC Request for Proposal Portal{% endblock %}

{% block body_block %}

{% load user_extras %}

{% csrf_token %}

{% if user|is_pi %}
<div class="container">
<!--List of open request for proposal-->
            {% include 'user_profile/list_request_for_proposal.html' %}
</div>



{% elif user|is_rev %}
<div class="container">
<!--reviewer list-->
    <div class="row">
         <div class="col-xs-12 col-md-12">
              {% include 'elements/review_title.html' %}
              {% include 'user_profile/list_reviews.html' %}
         </div>
    </div>
</div>

{% elif user|is_sb %}

<div class="container">
    {% if user|is_sb %}<p>Welcome member of the CS.</p>{% endif %}
    {% include 'user_profile/scientific_board/home_page.html' %}

</div>


{% endif %}


{% endblock %}