{% extends 'base.html' %}

{% block title %}Welcome to the ICFRC Request for Proposal Portal{% endblock %}

{% block body_block %}

{% load user_extras %}

{% csrf_token %}
<div class="container top_c">
<!--Profile header-->
<div class="row">
{% include 'user_profile/user_profile_header.html' %}
</div>
</div>



{% if user|is_pi %}
<div class="container">
<!--List of open request for proposal-->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% include 'user_profile/list_request_for_proposal.html' %}
        </div>
    </div>
</div>



{% elif user|is_rev %}
<div class="container">
<!--reviewer list-->
    <div class="row">
         <div class="col-xs-12 col-md-12">
              {% include 'elements/review_title.html' %}
              {% include 'user_profile/list_reviews.html' %}
         </div>
    </div>
</div>

{% elif user|is_sb %}

<div class="container">

    {% include 'user_profile/scientific_board/home_page.html' %}

</div>


{% endif %}


{% endblock %}