{% extends 'base.html' %}

{% block title %}Welcome to the ICFRC Request for Proposal Portal{% endblock %}

{% block body_block %}
<div class="container">
{% csrf_token %}

<!--Profile header-->
<div class="row">
{% include 'user_profile/user_profile_header.html' %}
</div>

{% if is_pi %}
<!--List of open request for proposal-->
<div class="row">
    <div class="col-xs-12 col-md-12">
        {% include 'user_profile/list_request_for_proposal.html' %}
    </div>
</div>

<!--reviewer list-->
{% elif is_rev %}
<div class="row">
            <div class="col-xs-12 col-md-12">
                {% include 'user_profile/list_reviews.html' %}
            </div>
</div>

{% endif %}
</div>

{% endblock %}