{% extends 'base.html' %}

{% block title %} Your Profile {% endblock %}

{% block body_block %}

{% csrf_token %}

<div class="container top_c">
<!--Profile header-->
<div class="row">
{% include 'user_profile/user_profile_header.html' %}
</div>
</div>


<div class="container">

        {% if is_rev %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
        {% include 'user_profile/list_reviews.html' %}
            </div>
        </div>

        {% endif %}

        {% if is_pi %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2>Your Projects <a class = "small_link" href="{% url 'post_homepage_login_landing_page' %}">Add a new projet</a></h2>

                <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Requested</th>
                            <th>Call for Proposal</th>
                            <th>Starting Date</th>
                            <th>Project Duration</th>
                            <th>File</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for p in projects %}

                    <tr>
                            <td><a href="{% url 'project_detail' p.id %}">{{ p.name }}</a></td>
                            <td>{{ p.requested_amount }}</td>
                            <td><a href="{% url 'rfpcampaign_detail' p.rfp.id %}">{{ p.rfp.name }}</a></td>
                            <td>{{ p.starting_date|date:"SHORT_DATE_FORMAT" }}</a></td>
                            <td>{{ p.project_duration }}</a></td>
                            <td>{% if p.document %} <a href="{{ p.document.url }}">{{ p.document.name }}</a> {% else %} <em>No File</em> {% endif %}</td>
                            <td><em>{{ p.status|capfirst }}</em></td>
                    </tr>

                    {% endfor %}
                    </tbody>

                </table>

            </div>

        {% endif %}

 </div>

</div>
{% endblock %}
