{% extends 'base.html' %}

{% block title %} Your Profile {% endblock %}

{% block body_block %}

{% csrf_token %}

<div id='profile' class="hide">
<div class="container top_c">
        <!--Profile header-->
        <div class="row">
        {% include 'user_profile/user_profile_header.html' %}
        </div>
    </div>
</div>


<div class="container">

        {% if is_rev %}

    <div id='rev' class="hide">
        <div class="row">
            <div class="col-xs-12 col-md-12">
            {% include 'elements/review_title.html' %}
            {% include 'user_profile/list_reviews.html' %}
            </div>
        </div>
    </div>
        {% endif %}

        {% if is_pi %}

    <div id='proj' class="hide">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {% include 'elements/project_title.html' %}
                    <!--<a class = "" href="{% url 'post_homepage_login_landing_page' %}">Add a new projet</a>-->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">

                <table id="tableId" class="table table-striped">

                    <thead>
                        <tr>
                            <th>Project Title</th>
                            <th>Category</th>
                            <th>Requested (Eur.)</th>
                            <th>Status</th>
                            <th>Granted (Eur.)</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for p in projects %}
                    {% if p.status == 'draft' %}
                    <div class="alert alert-warning" role="alert">Your project <strong>{{ p.name }}</strong> is still a draft and has not been submitted yet. Please click
                        <a href="{% url 'create_project_previous' p.id %}">here</a> to complete and submit your project.</div>
                    {% endif %}
                    <tr>
                            <td>
                                {% if p.status == 'draft' %} <a href="{% url 'create_project_previous' p.id %}">
                                {% else %}  <a href="{% url 'project_detail' p.id %}"> {% endif %}
                                {{ p.name }}</a>
                            </td>
                            <td> {{ p.rfp }}</td>
                            <td>{{ p.requested_amount }}</td>

                            <td><em>{% if p.rfp.status == 'under_review' %} Under Review {% else %} {{ p.status|capfirst }} {% endif %}</em></td>
                            <td> {% if p.status == 'granted' %} {{ p.awarded_amount }} {% else %} <em>None</em> {% endif %} </td>

                    </tr>


                    {% endfor %}
                    </tbody>

                </table>

            </div>
    </div>
        {% endif %}

 </div>

</div>

<script>

     $("#tableId").dataTable({
         "paging":   false
     });

</script>

{% endblock %}
