 <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-4">

                <h3>Account information</h3>
                <p>Username: {{ user }}<br>
                <span class="small_link">Click <a href = "{% url 'password_change' %}">here</a> to change your password.</span></p>

            </div>
            
            <div class="col-xs-12 col-md-4">

                <h3>Contact information <span class="small_link"><a href = "{% url 'edit_profile' %}">Edit your information</a></span></h3>
                <p> {{ user_profile.first_name }} {{ user_profile.last_name }}<br/>
                Email: {{ user.email }}</p>
                <p> Organization: <strong>{{ user_profile.organization }}</strong><br>
                {{ user.userprofile.insitute_research_unit}} <br>
                {{ user_profile.address }}<br>
                {{ user_profile.zip }}, {{ user_profile.city }}<br>
                {{ user_profile.country }}
                </p>

            </div>

            <div class="col-xs-12 col-md-4">

                {% if is_pi %}
                    {% include 'user_profile/widget_projects.html' %}
                {% endif %}

            </div>

        </div>
</div>