<!--Profile header with User information and link to update information-->

<div class="col-xs-12 col-md-12">

<!--Header Title-->
<div class="row cs_header">
                    <div class="cs_block_title">
                        <div class="cs_icon_cell pull-left user_icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>

                        <div class="pull-left cs_title_cell">
                        User Information
                        </div>
                    </div>
</div>

                    <p>Username: {{ user }}<br>
                    <p>Click <a href = "{% url 'password_change' %}">here</a> to change your password.</p>

                    <hr>
                    <p> {{ user.userprofile.first_name }} {{ user.userprofile.last_name }}<br/>
                    Email: {{ user.email }}</p>

                    <p> Organization: <strong>{{ user.userprofile.organization }}</strong><br>
                    {{ user.userprofile.insitute_research_unit}} <br>
                    {{ user.userprofile.address }}<br>
                    {{ user.userprofile.zip }}, {{ user.userprofile.city }}<br>
                    {{ user.userprofile.country }}
                    </p>

                <p><span class="small_link"><a href = "{% url 'edit_profile' %}?redirect={{ current_url }}">Edit your information</a></span></p>

</div>

