<!--Profile header with User information and link to update information-->

<div class="col-xs-12 col-md-4">


                <button class="top_title">User Information</button>
                <p>Username: {{ user }}<br>
                <span class="small_link">Click <a href = "{% url 'password_change' %}">here</a> to change your password.</span></p>

</div>
            
<div class="col-xs-12 col-md-4 ">

                <button class="top_title">Contact information</button>

                    <p> {{ user.userprofile.first_name }} {{ user.userprofile.last_name }}<br/>
                    Email: {{ user.email }}</p>

                    <p> Organization: <strong>{{ user.userprofile.organization }}</strong><br>
                    {{ user.userprofile.insitute_research_unit}} <br>
                    {{ user.userprofile.address }}<br>
                    {{ user.userprofile.zip }}, {{ user.userprofile.city }}<br>
                    {{ user.userprofile.country }}
                    </p>

                <p><span class="small_link pull-right"><a href = "{% url 'edit_profile' %}?redirect={{ current_url }}">Edit your information</a></span></p>

</div>

<div class="col-xs-12 col-md-4">
            {% if widget %}
                {% if is_pi %}
                    {% include 'user_profile/widget_projects.html' %}
                {% else %}
                    {% include 'user_profile/widget_logo.html' %}
                {% endif %}
            {% else %}
                    {% include 'user_profile/widget_logo.html' %}
            {% endif %}
</div>
