<div class="cs_block_sub_title">

                        <div class="pull-left cs_title_cell cs_sub_title_cell">
                        Projects
                        </div>
            </div>



    <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for p in projects %}

                    <tr>
                            <td><a href="{% url 'project_detail' p.id %}">{{ p.name }}</a></td>
                            <td><em>{% if p.rfp.status == 'under_review' %} Under Review {% else %} {{ p.status|capfirst }} {% endif %}</em></td>
                    </tr>

                    {% endfor %}

                    </tbody>

    </table>
    <span class="small_link pull-right"><a href = "{% url 'user_profile' %}">See all your projects</a></span></h3>
