{% load user_extras %}

<div id="nav_pane" class="container m-b-20 m-t-20 p-b-0">

    <div class="row user_icon">
        <div class="col-xs-12 col-md-3 p-0">
            <div class="nav_icon_wrap">
                <a href="{% url 'post_homepage_login_landing_page' %}">
                    <div class="nav_icon user_icon"><span class="glyphicon glyphicon-home"></span> Home</div>
                </a>
            </div>
        </div>



        <div class="col-xs-12 col-md-3 p-0">
            {% if user|is_pi %}
            <div class="nav_icon_wrap">
                <a href="{% url 'user_profile' %}?block=proj">
                    <div class="nav_icon user_icon"><span class="glyphicon glyphicon-inbox "></span> Projects</div>
                </a>
            </div>
            {% endif %}

            {% if user|is_rev %}
            <div class="nav_icon_wrap">
                <a href="{% url 'user_profile' %}?block=rev">
                    <div class="nav_icon user_icon"><span class="glyphicon glyphicon-comment "></span> Your reviews</div>
                </a>
            </div>
            {% endif %}

            {% if user|is_sb %}
            <div class="nav_icon_wrap">
                <a href="{% url 'scientific_board_project_archives' %}">
                    <div class="nav_icon user_icon"><span class="glyphicon glyphicon-inbox "></span> Archives</div>
                </a>
            </div>
            {% endif %}
        </div>

        <div class="col-xs-12 col-md-3 p-0">
            <div class="nav_icon_wrap">
                <a href="{% url 'user_profile' %}?block=profile">
                    <div class="nav_icon user_icon"><span class="glyphicon glyphicon-user "></span> Profile</div>
                </a>
            </div>
        </div>

        <div class="col-xs-12 col-md-3 p-0">
            <div class="nav_icon_wrap">
                <a href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'home_page' %}">
                    <div class="nav_icon user_icon" style="text-align:right;"><span class="glyphicon glyphicon-off l-glyph"></span></div>
                </a>
            </div>
        </div>
    </div>
</div>