<!DOCTYPE html>

{% load static %}

<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/js.js' %}"></script>

</head>
<body>


<!-- Navigation bar starts here-->
<nav class="navbar navbar-default" role="navigation">
    <div class ="container">

        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/"></a>
        <div class="collapse navbar-collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="RFP"><a href="{% url 'rfp_list' %}">Request for Proposal</a></li>
                <li id="profile_nabar"><a href="{% url 'user_profile' %}">My Project</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                {% if user.id > 0 %}
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'home_page' %}">Log out</a></li>
                {% else %}
                    <li id="login_navbar"><a href="{% url 'django.contrib.auth.views.login' %}?next={% url 'user_profile' %}">Log in</a></li>
                {% endif %}
            </ul>


        </div> <!--end navbar collapse-->
    </div>

</nav>
<!-- Navigation bar ends here -->


    {% block body_block %}



    {% endblock %}



<!--Footer starts here-->

<div class="footer">
      <div class="container">
        <div class ="footer-text">

        <p><a href="/about-us/">About Us </a>| <a href="/members/">Log Out</a> | <a href="/contact_us/">Contact Us</a> | <a href="/sitemap.xml">Sitemap</a></p>
        <p>Powered by Django - 2014</p>
        </div>
      </div>
    </div>

<!--Footer ends here-->

</body>
</html>