<!DOCTYPE html>

{% load static %}

<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/js.js' %}"></script>

</head>
<body>



{% block body_block %}



{% endblock %}

</body>
</html>