<!DOCTYPE html>

{% load static from staticfiles %}

<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %}</title>

    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />


    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->
    <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="//cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script>
    <script src="{% static 'js/js.js' %}"></script>

</head>
<body>
{% load bootstrap3 %}
<div class="container m-t-20 no_b_c">

<div class="row t_row">

{% include 'home_page/main_header.html' %}


</div>



<div class="row">

    {% include 'home_page/jumbo.html' %}

</div>


<div class="row">
    {% if not user.is_authenticated %}
        {% include 'registration/login_form.html' %}
    {% else %}

    <div class="authentication_container is-centered-block">
        <div>
            <div class="l-padded-v-4 l-padded-h-2 pod">
                    <a class="btn btn-apply btn-login" href="{% url 'post_homepage_login_landing_page' %}">Access your Account</a>
            </div>
        </div>
    </div>

    {% endif %}
</div>

<div class="row t-marg-25">

    <div class="col-xs-12 col-md-3 l-foot">
    <ul>

                    <li><a href="mailto: admin@icfrc.fr">Contact Us</a>

    </ul>
    </div>

    <div class="col-xs-12 col-md-9 r-foot">
    <ul>
        <li>
            <a href="http://www.unistra.fr" target="_blank"><img style="width:150px; height:auto;" src="{% static 'images/logo_unistra.jpg' %}"/></a>
        </li>
        <li>
            <a href="http://www.cnrs.fr" target="_blank"><img src="{% static 'images/logo-cnrs.jpg' %}"/></a>
        </li>
        <li>
            <a href="http://www.basf.com" target="_blank"><img src="{% static 'images/logo_BASF.jpg' %}"/></a>
        </li>
        <li>
            <a href="https://www.bruker.com" target="_blank"><img style="width:120px; height:auto;" src="{% static 'images/logo_brucker.jpg' %}"/></a>
        </li>
        <li>
            <a href="http://labex-csc.unistra.fr/" target="_blank"><img src="{% static 'images/logo_csc.png' %}"/></a>
        </li>
        <li>
            <a href="http://www.gouvernement.fr/investissements-d-avenir-cgi" target="_blank"><img src="{% static 'images/logo-inv-avenir.jpg' %}"/></a>
        </li>
    </ul>


    </div>


</div>

</div>

</body>
</html>