{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}

{% csrf_token %}

<div class="container">

<h1>Welcome to the Portal</h1>

{% if user.id > 0 %}
<p> You are currently logged in as {{ user }}</p>
    <p>You can use this portal to: </p>
    <p>Apply to the different<a href="{% url 'rfp_list' %}"> Request for Proposal's Category </a> offered by an organization.</p>

    <p>PI: Manage your request currently pending, accepted or declined in <a href="{% url 'user_profile' %}">your profile.</a></p>
    <p>Reviewer: Manage your review currently pending, completed in <a href="{% url 'user_profile' %}">your profile.</a> </p>

        <!--<li><a href="{% url 'user_profile' %}">manage your request currently pending, accepted or declined.</a></li>-->
        <!--<li><a href="{% url 'create_project' %}">Post a new Review</a></li>-->

    <p><a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></p>

{% else %}

    <p> You are not currently logged in. Click <a href="{% url 'login' %}?next={% url 'user_profile' %}"> here</a> to log in or <a href="{% url 'create_profile' %}">create a new User Account</a>.</p>

{% endif %}

</div>

{% endblock %}

