{% extends 'dashboard/dashboard.html' %}

{% block title %} List of Reviews {% endblock %}

{% block dashboard_nav %}
    {% include 'dashboard/dashboard_navigation_pane.html' %}
{% endblock %}

{% block dashboard_action %}

{% load bootstrap3 %}

<div class="row">
<div class="col-xs-12 col-md-12">

<div>
    {% include 'elements/review_title.html' %}
    <hr>
</div>

</div>
</div>

<!--List of review-->
<div class="row">
<div class="col-xs-12 col-md-12">

<table id="tableId" class="table table-striped">

        <thead>
            <tr>
                <th>Review of</th>
                <th>PI</th>
                <th>Reviewer</th>
                <th>Rating</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

{% if list_of_review %}

    <tbody>
    {% for r in list_of_review %}
            <tr>
                <td><a href="{% url 'view_review' r.id %}" target="_blank">{{ r.project|truncatechars:30 }}</a></td>
                <td>{{ r.project.user.get_full_name }}</td>
                <td><a href="{% url 'dashboard_reviewer_detail' r.user.id %}">{{ r.user.get_full_name }}</a></td>
                <td>{{ r.rating }}</td>
                <td>{{ r.date }}</td>
                <td>{{ r.status }}</td>
                <td>{% if not r.status == 'completed' %}<a href="{% url 'dashboard_follow_up_with_reviewer' r.id %}">Follow up</a>{% else %} <em>None</em>{% endif %}</td>
            </tr>

{% endfor %}





    </tbody>

      {% else %}
    <p><em>No review posted</em></p>
    {% endif %}

</table>

</div>

</div>


<script>
     $("#tableId").dataTable(
             {
                 "paging": false
             }
     );
</script>

{% endblock %}
