{% extends 'dashboard/dashboard.html' %}

{% block title %} List of Reviewers {% endblock %}

{% block dashboard_nav %}
    {% include 'dashboard/dashboard_navigation_pane.html' %}
{% endblock %}

{% block dashboard_action %}

{% load bootstrap3 %}

<div class="row">
<div class="col-xs-12 col-md-12">

    <div>
        <h3>Reviewers</h3>
            <hr>
    </div>

</div>
</div>

<div class="row">

    <div class="col-xs-12 col-md-12">


        <table id="tableId" class="table table-striped">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Member since</th>
                    <th>Invitations</th>
                    <th>Completed Reviews</th>
                </tr>
            </thead>


            <tbody>
            {% for r in reviewers_list %}
                <tr>
                    <td><a href="{% url 'dashboard_reviewer_detail' r.id %}">{{ r.get_full_name }}</a></td>
                    <td><a href="mailto:{{r.email}}">{{ r.email }}</a></td>
                    <td>{{ r.date_joined }}</td>
                    <td>{{ r.userprofile.number_of_invitation}}</td>
                    <td>{{ r.userprofile.number_of_completed_review }}</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>
    </div>

</div>

<script>
     $("#tableId").dataTable();
</script>

{% endblock %}
