<!--RfpCreate ModelForm-->

<form method="post" enctype="multipart/form-data" action="{{ request.path }}">

    {% csrf_token %}

    {% load bootstrap3 %}

    {% for field in form %}
        {% if field.label == 'Instructions' %}

        {% load wysiwyg %}
            {% wysiwyg_setup %}
            <div style="margin-bottom: 10px;">
            {% bootstrap_label field.label %}
            {{ field }}
            {{ field.errors }}
            {% wysiwyg_editor "id_instructions" %}
            </div>
        {% else %}

        {% bootstrap_field field %}

        {% endif %}

    {% endfor %}

    <button class="btn btn-apply" type="submit" value="Submit">Save</button>

</form>