{% extends 'dashboard/dashboard.html' %}

{% block title %}Call For Proposals Campaign{% endblock %}

{% block dashboard_nav %}
    {% include 'dashboard/dashboard_navigation_pane.html' %}
{% endblock %}

{% block dashboard_action %}
{% load static from staticfiles %}

{% include 'elements/rfp_title.html' %}

<table id="tableId" class="table table-striped ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% for rfp in rfp_list %}
        <tr>
            <td><a href="{% url 'dashboard_rfp_details' rfp.id %}">{{ rfp.name }}</a></td>
            <td>{{ rfp.year }}</td>
            <td>{{ rfp.status }}</td>
            <td><a href="{% url 'dashboard_edit_rfp' rfp.id %}">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<script>
     $("#tableId").dataTable(
             {
                "paging":   false,
                 "order": [[ 2, "desc" ]]
             }
     );
</script>

{% endblock %}