<h3>Menu</h3>
<ol>
        <li> Request for Proposal
            <ul>
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="{% url 'dashboard_rfp_listing' %}">Request for Proposal</a></li>
                <li><a href="{% url 'dashboard_create_rfp' %}">Create a new Request for proposal campaign</a></li>
            </ul>
        </li>

        <li>Projects
            <ul>
            <li><a href="{% url 'dashboard_project_list' %}">Projects</a></li>
            </ul>
        </li>

</ol>