{% extends 'dashboard/dashboard.html' %}

{% block title %} {{ project.name }} - Details {% endblock %}

{% block dashboard_nav %}
    {% include 'dashboard/dashboard_navigation_pane.html' %}
{% endblock %}

{% block dashboard_action %}
<div class="col-xs-12 col-md-12">

        <div class="row cs_header">

        <!--Tag Module-->
                <div class="cs_block_title sci_title">
                            Board Reviewers
                </div>

        <div class="tag-list">
            <ul>

                {% for t in tag_list %}
                    <li> <span class="glyphicon glyphicon-user"></span> {{ t.user.get_full_name }} </li>
                 {% empty %}
                    <p><em>No Board Reviewer designated yet.</em></p>
                {% endfor %}

            </ul>
        </div>

<!-- Project Details -->
<div class="row" id="project_detail">

    <div class="col-xs-12 col-md-12">
{% include 'elements/project_title.html' %}

    <h3>{{ project.name }}</h3>
    <h4>PI: <strong><a href="{% url 'dashboard_pi_details' project.user.id %}">{{ project.user.get_full_name }}</a></strong></h4>
    <h4>Category: <a href="{% url 'dashboard_rfp_details' project.rfp.id %}"><strong>{{ project.rfp }}</strong></a></h4>
    <h4>Status: <strong>{{ project.status|capfirst }}</strong></h4>
    <h4>Awarded Amount (Eur.): <strong>{{ project.awarded_amount }}</strong></h4>

        <h4><a href="{% url 'dashboard_project_edit' project.id %}">Edit Project</a></h4>

    <hr>
    {% for p in project_data %}
        {% if p.label == '' %}
           <p class="project_data hide" id=""><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>

           {% elif p.name == 'document' %}

           <div class = "col-xs-12 col-md-4">
               <p class="file_field"><strong>Document: </strong></p>
           </div>

           <div class = col-md-8>
              <p>{% if project.document %}<a href="{{ project.document.url }}" target="_blank"> {{ project.document.name }} </a> {% else %} <em>None</em> {% endif %}</p>
           </div>

           {% else %}

           <p class="project_data" id="{{ p.label|slugify }}"><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>

        {% endif %}

    {% endfor %}

        </div>
</div>

<!--Budget-->
{% block budget_summary %}
    {% include 'rfp/project/project_budget.html' %}
{% endblock %}

<!--Reviewer-->
{% block reviewer_summary %}
    {% if project.rfp.add_reviewer %}
{% load user_extras %}
<!--Reviewer Detail-->
<div class="row " id="reviewer_detail">
            <div class="col-xs-12 col-md-12">

                <div class="row cs_header">
                    <div class="cs_block_title">
                        <div class="cs_icon_cell pull-left user_icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>

                        <div class="pull-left cs_title_cell">
                        Reviewers
                        </div>
                    </div>
                </div>


            <div class="cs_block_sub_title">

                        <div class="pull-left cs_title_cell cs_sub_title_cell_user">
                        Proposed Reviewers
                        </div>
</div>

               <table class="table table-striped">


                        <tr>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Type</th>
                            <th></th>
                            <th>Actions</th>

                        </tr>


                    <tbody>
                    {% for r in prop_rev_list %}

                            <tr>
                                <td>{{ r }}</td>
                                <td>{{ r.email }}</td>
                                <td>{{ r.city }}</td>
                                <td>{{ r.type }}</td>
                                <td>{% if user|is_pi %}<a  href = "{% url 'edit_reviewer' r.pk %}?redirect={{ current_url }}">Edit</a> {% endif %}</td>
                                <td>{% if user.is_staff and not r.invited %} <a href="{% url 'dashboard_invite_reviewer' r.id %}">Send Invitation</a> {% endif %}
                                </td>
                            </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% if user|is_pi %}
                <p>
                <a href="{% url 'add_unique_reviewer' project.pk %}?redirect={{ current_url }}">
                Propose another reviewer
                </a>

            </p>{% endif %}
            </div>

    <div class="col-xs-12 col-md-12">
    <div class="cs_block_sub_title">

                        <div class="pull-left cs_title_cell cs_sub_title_cell_user">
                        Excluded Reviewers
                        </div>
</div>

        <table class="mt-20 table table-striped">

                <thead>
                        <tr>

                            <th>Contact</th>
                            <th>Institution</th>
                            <th>Type</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for r in excluded_rev_list %}

                    <tr>

                        <td>{{ r.first_name }} {{ r.last_name }}</td>
                        <td>{{ r.institution }}</td>
                        <td>{{ r.type }}</td>
                        <td>{% if user|is_pi %}<a href = "{% url 'edit_excluded_reviewer' r.pk %}?redirect={{ current_url }}">Edit</a> {% endif %}</td>

                    </tr>

                    {% endfor %}
                    </tbody>
                </table>

                {% if user|is_pi %}<p>
                <a href="{% url 'exclude_unique_reviewer' project.pk %}?redirect={{ current_url }}">
                Exclude another reviewer
                </a></p>{% endif %}

    {% block project_next %} {% endblock %}

    </div>
</div>

{% endif %}
{% endblock %}

<!--List of Reviews-->
<div class="row">
    <div class="col-xs-12 col-md-12">
        {% include 'elements/review_title.html' %}

        <table class="table table-striped">
            <tr>
                <th>Reviewer</th>
                <th>See the review</th>
                <th>Rating</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

{% for review in list_of_review %}
            <tr>
                <td><a href="{% url 'dashboard_reviewer_detail' review.user.id %}">{{ review.user.get_full_name }}</a></td>
                <td>
                    <a href="{% url 'view_review' review.id %}" target="_blank">{{ review.custom_0|truncatewords:15 }}</a>
                </td>
                <td>{{ review.rating }}</td>
                <td>{{ review.date }}</td>
                <td>{{ review.status }}</td>
                <td>{% if review.status != 'completed' %}<a href="{% url 'dashboard_follow_up_with_reviewer' review.id %}">Follow up</a>{% endif %}</td>
            </tr>

{% empty %}

    <p><em>Sorry no reviews has been submitted yet.</em></p>

{% endfor %}

</table>

        {% load comments %}
{% load bootstrap3 %}
        <!--Comments Section-->
             <div id='comments' class="row cs_header">

                    <div class="cs_block_title">
                        <div class="cs_icon_cell pull-left comments_icon">
                            <span class="glyphicon glyphicon-bullhorn"></span>
                        </div>

                        <div class="pull-left cs_title_cell">
                        Comments
                        </div>
                    </div>
            </div>

        <div class="row cs_body">
            <div class="comments_body">
            {% get_comment_count for project as comment_count %}
            {% if comment_count < 1 %}
            <p><em>No comments posted yet.</em></p>
            {% else %}

            {% render_comment_list for project %}

            {% endif %}
            </div>
            </div>


</div>
</div>

<script>
    $('#project-title').hide();
</script>

<script>
     $("#tableId").dataTable(

     );
</script>

{% endblock %}
