{% extends 'dashboard/dashboard.html' %}

{% block title %} {{ reviewer.get_full_name }} {% endblock %}

{% block dashboard_nav %}
    {% include 'dashboard/dashboard_navigation_pane.html' %}
{% endblock %}

{% block dashboard_action %}
{% load user_extras %}
<!--Contact Information-->

<!--Header Title-->

{% include 'elements/user_title.html' %}


{% for p in reviewer_information %}

          <p class="project_data" id="{{ p.label|slugify }}"><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>

{% endfor %}

<p><a href="{% url 'dashboard_edit_profile' reviewer.id %}">Edit Address Information</a> - <a href="{% url 'admin:auth_user_change' reviewer.id %}">Edit User Information</a></p>



<!--Activity summary-->
    <div class="col-xs-12 col-md-12">
    <div class="row">

        <div class="cs_block_sub_title">
                        <div class="pull-left cs_title_cell cs_sub_title_cell_user">
                       Details
                        </div>
        </div>

    </div>

        <table class="table">
            <thead>
                <th>Reviews completed</th>
                <th>Last review</th>
                <th>Invitation to review</th>
                <th>Reliability</th>
            </thead>

            <tr>
               <td>{{ reviewer|number_completed }}</td>
               <td>{{ last_review_date }}</td>
               <td>{{ reviewer|number_invitation }}</td>
               <td>{% widthratio reviewer|number_completed reviewer|number_invitation 100 %} %</td>
            </tr>

        </table>
<div class="row">
            <div class="cs_block_sub_title">
                        <div class="pull-left cs_title_cell cs_sub_title_cell_rev">
                       Reviews
                        </div>
        </div>
    </div>

    {% if list_of_review %}



        <table class="table">
            <thead>
                <th>Review</th>
                <th>Project</th>
                <th>PI</th>
                <th>Date</th>
                <th>Rating</th>
                <th>Status</th>
            </thead>

    {% for review in list_of_review %}
            <tr>
                <td>
                    <a href="{% url 'view_review' review.id %}" target="_blank">{{ review.custom_0|truncatechars:30 }}</a>
                </td>
                <td>
                    <a href="{% url 'dashboard_project_details' review.project.id %}"> {{ review.project|truncatechars:50 }}</a>
                </td>
                <td>
                    <a href="#">
                        {{ review.project.user.get_full_name }}
                    </a>
                <td>{{ review.date }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.status }}</td>
            </tr>
    {% endfor %}
    </table>

    {% else %}

            <p><em>No reviews has been submitted yet.</em></p>

    {% endif %}



 </div>

{% endblock %}

