<h2>2015 Synergy</h2>

<div class="metric">
<div class="metric_square">

    <div class="metric_content">

        <div class="metric_table pull-left">
            <div id="project" class="metric_cell metric_icon">
                        <span class="glyphicon glyphicon-inbox" style="font-size:45px;"></span>
            </div>
        </div>

        <div class="metric_table pull-right">
            <div class="metric_cell align_left metric_text">
                    <p>Projects</p>
                    <p>Submitted: 12</p>
                    <p>Draft: 7</p>
            </div>
        </div>

    </div>

</div>

<div class="metric_square">

    <div class="metric_content ">

        <div class="metric_table pull-left">
            <div id="review" class="metric_cell">
                        <span class="glyphicon glyphicon-comment" style="font-size:45px;"></span>
            </div>
        </div>

        <div class="metric_table pull-right">
            <div class="metric_cell align_left">
                        <p>Reviews</p>
                        <p>Invited: </p>
                        <p>Pending: </p>
                        <p>Completed: </p>

            </div>
        </div>

    </div>

</div>

<div class="metric_square">

    <div class="metric_content ">

        <div class="metric_table pull-left">
            <div id="amount" class="metric_cell">
                        <span class="glyphicon glyphicon-euro" style="font-size:45px;"></span>
            </div>
        </div>

        <div class="metric_table pull-right">

            <div class="metric_cell align_left">
                <p>Requested</p>
                <p>100 000 000</p>

            </div>
        </div>

    </div>

</div>

    </div>