{% extends 'dashboard/dashboard.html' %}

{% block title %} {{ rfp }} {% endblock %}

{% block dashboard_nav %}
    {% include 'dashboard/dashboard_navigation_pane.html' %}
{% endblock %}

{% block dashboard_action %}
{% load user_extras %}

<div class="row">
    <div class="col-xs-12 col-md-12">

<h2> {{ rfp }} <small><a class="small_link" href="{% url 'dashboard_edit_rfp' rfp.id %}">Edit</a></small></h2>
<hr>

<div class="row">
<div class="col-xs-12 col-md-12">

<h4>Days left: {{ rfp.deadline }}</h4>
<h4>Status: {{ rfp.status|capfirst}}</h4>
<h4>{% if rfp.template %}Template: <a href="{{ rfp.template.url }}" target="_blank">{{ rfp.template }}</a>{% endif %}</h4>

</div>


<div class="metric">
<div class="metric_square">

    <div class="metric_content">

        <div class="metric_table pull-left">
            <div id="project" class="metric_cell metric_icon">
                        <span class="glyphicon glyphicon-inbox" style="font-size:45px;"></span>
                        <p>Projects</p>
            </div>
        </div>

        <div class="metric_table pull-right">
            <div class="metric_cell metric_text">
                    <p>{{ rfp|count_project:"submitted" }}</p>
                    <small><em>Draft: {{ rfp|count_project:"draft" }}</em></small>
            </div>
        </div>

    </div>

</div>



<div class="metric_square">

    <div class="metric_content ">

        <div class="metric_table pull-left">
            <div id="review" class="metric_cell">
                        <span class="glyphicon glyphicon-comment" style="font-size:45px;"></span>
                        <p>Reviews</p>
            </div>
        </div>

        <div class="metric_table pull-right">
            <div class="metric_cell">

                        <p>{{ rfp|count_review_rfp:"completed" }} </p>
                <small><em>Pending: {{ rfp|count_review_rfp:"pending" }} </em></small>

            </div>
        </div>

    </div>

</div>




<div class="metric_square">

    <div class="metric_content ">

        <div class="metric_table pull-left">
            <div id="amount" class="metric_cell">
                        <span class="glyphicon glyphicon-euro" style="font-size:45px;"></span>
                        <p>Requested</p>
            </div>
        </div>

        <div class="metric_table pull-right">

            <div class="metric_cell">

                <p>{{ rfp|total_requested }}</p>

            </div>
        </div>

    </div>

</div>

        </div>
</div>
</div>
    </div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <hr>

<!--Project Table-->
<table id="tableId" class="table table-striped">

<thead>
    <tr>
            <th>Project Title</th>
            <th>PI</th>
            <th>Status</th>
            {% for r in review_status %} <th> {{ r }} </th> {% endfor %}
            <td></td>
    </tr>
</thead>

<tbody>
    {% for p in project_list %}
    <tr>
        <td> <a href="{% url 'dashboard_project_details' p.id %}">{{ p.name|truncatewords:5 }}</a></td>
        <td> {{ p.user.get_full_name }}</td>
        <td> {{ p.status|capfirst }}</td>
        {% for r in review_status %} <td> {{ p|count_review:r }} </td> {% endfor %}
        <td>
            <div class="action-menu">
                <ul>
                    <li><a href="{% url 'dashboard_send_results' p.id %}">Send Results</a></li>
                    <li><a href="{% url 'dashboard_project_details' p.id %}">See project</a></li>
                </ul>
            </div>

            <span class="glyphicon glyphicon-wrench setting-icon"></span>

        </td>
    </tr>
    {% endfor %}
</tbody>

</table>

</div>
</div>

<script>
    $("#tableId").dataTable(
             {"paging": false}
    );

    $( ".setting-icon").click(function() {
        $(this).prev().toggle().addClass('ac');
    });

    $(document).click(function(e) {
    if ( !$(event.target).hasClass('setting-icon')) {
        console.log('Clicking the document');
        $(".ac").hide();
    }
    });

</script>

{% endblock %}