{% extends 'rfp/project_details.html' %}

{% block project_tab %}
<div class="alert alert-success" role="alert">

<p style="text-align:center">
    Your project has been succesfully submitted. You will recieve a confirmation email soon at this address: {{ user.email }}. Click <a href="#" onclick="window.print();return false;">here</a> to print this page.
</p>

</div>

<div class="col-xs-12 col-md-4"></div>
<div class="col-xs-12 col-md-4">
<a href="{% url 'user_profile' %}?block=proj" class="center btn btn-apply" style="width:350px;margin:Auto; padding:15px 15px 15px 15px;">
        Go to your Projects to follow the review process
</a>
</div>
<div class="col-xs-12 col-md-4"></div>
{% endblock %}

{% block budget_summary %}
    {% include 'rfp/project/project_budget.html' %}
{% endblock %}


{% block reviewer_summary %}
    {% if project.rfp.add_reviewer %}
{% load user_extras %}
<!--Reviewer Detail-->

        <div class="row cs_header">

        <div class="cs_block_title">
                        <div class="cs_icon_cell pull-left review_icon">
                            <span class="glyphicon glyphicon-comment"></span>
                        </div>

                        <div class="pull-left cs_title_cell">
                        Reviewers
                        </div>
                    </div>
         </div>

<div class="row " id="reviewer_detail">
            <div class="col-xs-12 col-md-12">

            <div class="cs_block_sub_title">

                        <div class="pull-left cs_title_cell cs_sub_title_cell_rev">
                        Proposed Reviewers
                        </div>
            </div>

               <table class="table">

                <thead>
                        <tr>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                </thead>

                    <tbody>
                    {% for r in prop_rev_list %}

                            <tr>
                                <td>{{ r }}</td>
                                <td>{{ r.email }}</td>
                                <td>{{ r.city }}</td>
                                <td>{{ r.country }}</td>
                                <td></td>
                            </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>

    <div class="col-xs-12 col-md-12">
    <div class="cs_block_sub_title">

                        <div class="pull-left cs_title_cell cs_sub_title_cell_rev">
                        Excluded Reviewers
                        </div>
            </div>

            <table class="table">

                <thead>
                        <tr>

                            <th>Contact</th>
                            <th>Institution</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for r in excluded_rev_list %}

                    <tr>

                        <td>{{ r.first_name }} {{ r.last_name }}</td>
                        <td>{{ r.institution }}</td>
                        <td>{{ r.country }}</td>
                        <td></td>

                    </tr>

                    {% endfor %}
                    </tbody>
                </table>


    {% block project_next %} {% endblock %}

    </div>
</div>

{% endif %}
{% endblock %}