{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}

<div class="container">

<h1> Create a Project</h1>

<form class="" method="post" enctype="multipart/form-data" action="{% url 'create_project' %}">

    {% csrf_token %}

        {% for f in form %}

                <div class="form-group">
                    {{ f.label }}
                    {{ f }}
                </div>

        {% endfor %}


     <input class="btn btn-primary" type="submit" value="Save"  />
     <input type="hidden" name="next" value="{% url 'user_profile' %}" />

</form>
</div>



{% endblock %}

