{% extends 'rfp/project_details_reviewer.html' %}

{% block title %}Propose reviewer for {{ project.name }} {% endblock %}


{% block project_header %}
<!--Project Header-->
{% include 'rfp/project/project_header.html' %}
{% include 'rfp/project/progress_bar.html' %}
{% endblock %}

{% block project_tab %} {% endblock %}

{% block project_next %}
{% load user_extras %}

    <a class="btn btn-apply" href="{% url 'create_project_budget' project.id %}">Previous</a>

    {% if project|count_proposedreviewer < 4 %}
    <p class="btn btn-inactive pull-right">Please add a minimum of 4 reviewers to submit your project.</p>
    {{ project|count_proposedreviewer }}
    {% else %}
    <a class="btn btn-apply pull-right" href="{% url 'create_project_summary' project.id %}">Save and Submit</a>
    {% endif %}

<script>
    $('#step_1').removeClass('progtrckr-todo').addClass('progtrckr-done');
    $('#step_2').removeClass('progtrckr-todo').addClass('progtrckr-done');
    $('#step_3').removeClass('progtrckr-todo').addClass('progtrckr-focus');
</script>

{% endblock %}

