{% extends 'base.html' %}

{% block title %}Edit {{ project.name }} {% endblock %}

{% block body_block %}

<div class="container">
<!--Project Header-->
{% include 'rfp/project/project_header.html' %}

<!--Progress Bar-->
{% include 'rfp/project/progress_bar.html' %}
<hr>

<!--Project Budget-->
{% include 'rfp/project/project_budget.html' %}
    <hr>
    <a class="btn btn-apply" href="{% url 'create_project_previous' project.pk %}">Previous</a>
    <a class="btn btn-apply" href="{%  url 'create_project_budget' project.pk %}">Save and Continue</a>
{% if project.rfp.add_reviewer %}

    <a class="btn btn-apply pull-right disabled" href="{% url 'create_project_reviewer' project.pk %}">Next</a>

{% else %}

    <a class="btn btn-apply pull-right disabled" href="{% url 'create_project_summary' project.pk %}">Next</a>

{% endif %}

    <div class="budget-message pull-right hide" style="margin-right:15px;padding-top: 12px; color:red;">
        Total requested {{ project.requested_amount }} Eur. not equal to total budgeted {{ total }} Eur.
    </div>

</div>

<script>
    $('#step_1').removeClass('progtrckr-todo').addClass('progtrckr-done');
    $('#step_2').removeClass('progtrckr-todo').addClass('progtrckr-focus');
    if ({{ total }} == {{ project.requested_amount }})
    {
        $('.disabled').removeClass('disabled');
    }
    else{
        $('div.budget-message').removeClass('hide');
    }

</script>

{% endblock %}
