{% extends 'base.html' %}

{% block title %} Create project {% endblock %}

{% block body_block %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-md-12">


        <div class="row cs_header">
             <div class="cs_block_title">
                            <div class="cs_icon_cell pull-left project_icon">
                                <span class="glyphicon glyphicon-inbox"></span>
                            </div>

                            <div class="pull-left cs_title_cell">
                            Create a Project
                            </div>
             </div>
        </div>


        <p>Team Leader: <a href = "{% url 'user_profile' %}">{{ user.userprofile }}</a></p>
        <p>Research Unit: {{ user.userprofile.organization }} - {{ user.userprofile.insitute_research_unit}}</p>
        <p>Email: <a href = "matilto: {{ user.email }}">{{ user.email }}</a></p>


        {% include 'rfp/project/progress_bar.html' %}
        <hr>
    </div>

</div>


<div class="row">
    <div class="col-xs-12 col-md-12">

<!--Project Form-->

<form id="project_create_form" class="" method="post" enctype="multipart/form-data" action="{% url 'create_project' rfp.id %}">
{% load bootstrap3 %}

    {% csrf_token %}
    {% for f in form %}

        {% if f.label == 'Upload your document:' %}

    <div class="row">
            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    {% if rfp.template %} <strong>Template</strong> Download the template, complete following the instructions and upload it below (pdf file only) <a href="{{ rfp.template.url }}">{{ rfp.template }}</a>
                     <br>
                    <br>
                    {% endif %}
                </div>
                <div  style="padding-top:7px;padding-bottom:7px;" class="col-xs-12 col-md-4">

                    <strong>{{ f.label }} <span class="req">*</span></strong>
                </div>
                <div style="padding-right:0px;" class="col-xs-12 col-md-8">
                    {{ f }}
                    {{ f.errors }}
                </div>
            </div>
    </div>

        {% elif f.label == 'Abstract (4000 characters max.):' %}
            <div class="form-group">
                        {% bootstrap_label f.label %}{% if f.field.required %}<span class="req">*</span>{% endif %}
                        {{ f }}
                        {{ f.errors }}
             </div>

            Character remaining: <span id="display_count"></span>


        {% else %}
            <div class="form-group">
                {% bootstrap_label f.label %}{% if f.field.required %}<span class="req">*</span>{% endif %}
                {{ f }}
                {{ f.errors }}
            </div>
        {% endif %}

    {% endfor %}

     <input class="btn btn-apply pull-right" type="submit" value="Next"  />

</form>

    </div>

</div>

</div>

<script>
    $('#step_1').removeClass('progtrckr-todo').addClass('progtrckr-focus');

    var ini_len = $('#id_abstract').val().length;
    $('#display_count').text(4000 - ini_len);

    $('#id_abstract').on('keyup', function(event) {
        var len = $(this).val().length;
        console.log(len);

        $('#display_count').text(4000 - len);

        if (len >= 4000) {
                $(this).val($(this).val().substring(0, len-1));
            }
        });

    $('#project_create_form').reset();
</script>

<script>

</script>

{% endblock %}

