{% extends 'rfp/project_details_budget.html' %}

{% block title %}Create the Budget for {{ project.name }} {% endblock %}

{% block project_header %}
<!--Project Header-->
{% include 'rfp/project/project_header.html' %}
{% include 'rfp/project/progress_bar.html' %}
{% endblock %}

{% block project_tab %} {% endblock %}

{% block project_next %}

{% if project.rfp.add_reviewer %}
    <a class="btn btn-apply" href="{% url 'create_project_reviewer' project.pk %}">Next</a>
{% else %}
    <a class="btn btn-apply" href="{% url 'create_project_summary' project.pk %}">Save and Submit</a>
{% endif %}

<script>
    $('#step_1').removeClass('progtrckr-todo').addClass('progtrckr-done');
    $('#step_2').removeClass('progtrckr-todo').addClass('progtrckr-focus');
</script>

{% endblock %}
