{% extends 'base.html' %}

{% block title %}Edit {{ project.name }} {% endblock %}

{% block body_block %}

<div class="container">
<!--Project Header-->
{% include 'rfp/project/project_header.html' %}

<!--Progress Bar-->
{% include 'rfp/project/progress_bar.html' %}
<hr>

<!--Project Budget-->
{% include 'rfp/project/project_budget.html' %}

<a class="btn btn-apply" href="{% url 'create_project_previous' project.pk %}">Previous</a>

{% if project.rfp.add_reviewer %}

    <a class="btn btn-apply pull-right" href="{% url 'create_project_reviewer' project.pk %}">Next</a>

{% else %}

    <a class="btn btn-apply pull-right" href="{% url 'create_project_summary' project.pk %}">Save and Submit</a>

{% endif %}



</div>

<script>
    $('#step_1').removeClass('progtrckr-todo').addClass('progtrckr-done');
    $('#step_2').removeClass('progtrckr-todo').addClass('progtrckr-focus');
</script>

{% endblock %}
