{% extends 'base.html' %}

{% block title %}Propose your Reviewers{% endblock %}

{% block body_block %}
<div class="container">

 <h2>{{ project.name }}</a></h2>

    <h4><strong>Category:</strong> {{ project.rfp.name }}</h4>
    <p><strong>Team Leader:</strong> <a href = "{% url 'user_profile' %}">{{ user.userprofile }}</a></p>
    <p><strong>Research Unit:</strong> {{ user.userprofile.organization }} - {{ user.userprofile.insitute_research_unit}}</p>

    <form class="" method="post" action="{% url 'edit_budget_hr' bl.id %}">
    {% csrf_token %}

        <legend>Recruitment</legend>

<div class = "row">
        {% for f in form %}


            {% if not f.is_hidden %}

                        <div class = "col-xs-12 col-md-3">
                              <div class="form-group">
                                  <strong>{{ f.label }} {% if f.field.required %} <span class="req"> *</span> {% endif %}</strong>
                                  {{ f }}
                                  {{ f.errors }}
                              </div>
                        </div>

            {% elif f.is_hidden %}
                {{ f }}
            {% endif %}


        {% endfor %}

</div>

    <input class="save_btn btn btn-primary pull-right" type="submit" value="Save"  />
    <input name="delete" style="margin-right:10px;" class="save_btn btn btn-danger pull-right" type="submit" value="Delete"  />
    <input id="redirect" type="hidden" name="redirect" value="" />

</form>
</div>


</div>


<script>

    $( document ).ready(function() {

        function get_total() {
                var month = $('#id_duration').val();
                var salary = $('#id_monthly_salary').val();
                var total;
                total = month * salary;
            return total;
        };

        $( "#id_monthly_salary" ).blur(function() {
                total = get_total();
                $('#id_amount').val(total);
                console.log (total);
        });

        $( "#id_duration" ).blur(function() {
                total = get_total();
                $('#id_amount').val(total);
                console.log (total);
        });

    });

</script>
{% endblock %}
