{% extends 'base.html' %}

{% block title %} Your Profile {% endblock %}

{% block body_block %}

{% load bootstrap3 %}
{% load widget_tweaks %}

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-md-12">
        <h2>{{ project.name }}</h2>
        <h4> {{ project.rfp.name }}</h4>
        <p>Team Leader: <a href = "{% url 'user_profile' %}">{{ user.userprofile }}</a></p>
        <p>Research Unit: {{ user.userprofile.organization }} - {{ user.userprofile.insitute_research_unit}}</p>

        </div>
    </div>

<form class="" method = "post" enctype="multipart/form-data"  action="{% url 'edit_project' project.id %}" >

    {% csrf_token %}

    {% for f in form %}

    {% if f.label == 'Select a document to update the current file: ' %}
    <div class="form-group">

                <div class="col-xs-12 col-md-4">
                    <p>Current document: </p>
                </div>

                <div class = "col-xs-12 col-md-8">
                    {% if project.document %}
                    <a href="{{ project.document.url }}">{{ project.document.name }}</a><p>
                    {% else %}
                    <p><em>No file</em></p>
                    {% endif %}
                </div>

                <div class="col-xs-12 col-md-4">
                {{ f.label }}
                </div>

                <div class="col-xs-12 col-md-8">
                                    {{ f }}
                                    {{ f.errors }}
                </div>

    </div>


    {% else %}

        <div class = "form-group ">

                {% bootstrap_label  f.label %} {% if f.field.required = True %}<span class="req"> *</span>{% endif %}
                {{ f|attr:"class:form_mar_bot form-control" }}
                {{ f.errors }}

        </div>
    {% endif %}

    {% endfor %}
        <div class = "form-group ">

            <input class="btn btn-apply save pull-right" type="submit" value="Save"  />

        </div>


</form>

</div>



{% endblock %}