{% extends 'base.html' %}

{% block title %}Propose your Reviewers{% endblock %}

{% block body_block %}
<div class="container">

 <h2>{{ project.name }}</a></h2>

    <h4><strong>Category:</strong> {{ project.rfp.name }}</h4>
    <p><strong>Team Leader:</strong> <a href = "{% url 'user_profile' %}">{{ user.userprofile }}</a></p>
    <p><strong>Research Unit:</strong> {{ user.userprofile.organization }} - {{ user.userprofile.insitute_research_unit}}</p>

    <form class="" method="post" enctype="multipart/form-data" action="{% url 'edit_budget_eq' bl.id %}">
    {% csrf_token %}

        <legend>Recruitment</legend>

<div class = "row">
        {% for f in form %}
             {% if not f.is_hidden %}

                        <div class = "col-xs-12 col-md-4">
                              <div class="form-group">
                                  {{ f.label }} {% if f.field.required %} <span class="req"> *</span> {% endif %}
                                  {{ f }}
                                  {{ f.errors }}
                              </div>
                        </div>

            {% elif f.is_hidden %}
                {{ f }}
            {% endif %}
        {% endfor %}
 </div>

    <input class="save_btn btn btn-primary pull-right" type="submit" value="Save"  />
    <input name="delete" style="margin-right:10px;" class="save_btn btn btn-danger pull-right" type="submit" value="Delete"  />
    <input type="hidden" name="next" value="#" />

</form>
</div>


</div>
{% endblock %}
