{% extends 'base.html' %}

{% block title %}Propose your Reviewers{% endblock %}

{% block body_block %}

{% load bootstrap3 %}

<div class = "container">
        <div class = "no-padding">
        <h2>{{ project.name }}</h2>
        <h4> {{ project.rfp.name }}</h4>
        <p>Team Leader: <a href = "{% url 'user_profile' %}">{{ user.userprofile }}</a></p>
        <p>Research Unit: {{ user.userprofile.organization }} - {{ user.userprofile.insitute_research_unit}}</p>
        <p>Email: <a href = "matilto: {{ user.email }}">{{ user.email }}</a></p>
        </div>
<h4>Edit the Reviewer Information</h4>

<form class=""  method = "post" enctype="multipart/form-data"  action="{% url 'edit_excluded_reviewer' prop_rev.pk %}" >

    {% csrf_token %}

    {% for field in form %}
            <div class="form-group">
                {% bootstrap_label field.label %}{% if field.field.required %} <span class="req"> *</span>{% endif %}
                {{ field }}
                {{ field.errors }}
            </div>
    {% endfor %}


    <input class="save_btn btn btn-primary" type="submit" value="Save"  />
    <input name="delete" style="margin-right:20px;" class="save_btn btn btn-danger" type="submit" value="Delete"  />
    <input id="redirect" type="hidden" name="redirect" value="" />

</form>


</div>

{% endblock %}