{% extends 'base.html' %}

{% block title %}Propose your Reviewers{% endblock %}

{% block body_block %}


<div class="container">
        <div class = "">
        <h2>{{ project.name }}</h2>
        <h4> {{ project.rfp.name }}</h4>
        <p>Team Leader: <a href = "{% url 'user_profile' %}">{{ user.userprofile }}</a></p>
        <p>Research Unit: {{ user.userprofile.organization }} - {{ user.userprofile.insitute_research_unit}}</p>
        <legend>Excluded Reviewer information</legend>
        </div>

<form class=""  method = "post" enctype="multipart/form-data"  action="{% url 'exclude_unique_reviewer' project.pk %}" >

    {% csrf_token %}
        <p>{{ f.errors }}</p>


        {% for form in f %}
        <div class="form-group">
        <div class = "row">
            <div class = "col-xs-12 col-md-4">
                {{ form.label }}{% if form.field.is_required %}<span class="req"> *</span>{% endif %}
                {{ form }}
            </div>
        </div>
        </div>
        {% endfor %}


    <input class="save_btn btn btn-primary" type="submit" value="Save"  />
    <input id="redirect" type="hidden" name="redirect" value="" />

</form>

</div>

</div>

{% endblock %}