{% extends 'base.html' %}

{% block title %} Review waiver for {{ project }} {% endblock %}

{% block body_block %}
<div class = "container">

<div class="row">

</div>

<div class="row">

    <div class="col-xs-12 col-md-12">
        {% include 'elements/project_title.html' %}
        {% include 'rfp/review/project_details_reviews.html' %}
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-md-2"></div>

        <div class="col-xs-12 col-md-8 w_form_wrapper">
            {% include 'rfp/review/post_review_waiver_contact_form.html' %}
        </div>

    <div class="col-xs-12 col-md-2"></div>

</div>

</div>

{% endblock %}