{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}

<div class="container">

    <div class="row proj_header">
        <div class="col-xs-10 col-md-10">
        <h2>Review for: {{ project.name }}</h2>
        <h4>Category: {{ project.rfp.name }}</h4>
        <h5>Author: <a href="{% url 'user_profile' %}">{{ up.first_name }} {{ up.last_name }}</a></h5>
        </div>
    </div>

<form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'post_review' project.id %}">

    {% csrf_token %}

        {% for f in form %}

                <div class="form-group">
                    {{ f.label }}{% if f.field.required = True %} * {% endif %}
                    {{ f }}
                    {{ f.errors }}
                </div>

        {% endfor %}

     <input class="btn btn-primary" type="submit" value="Save"  />
     <input type="hidden" name="next" value="{% url 'user_profile' %}" />

</form>

</div>

{% endblock %}