{% extends 'base.html' %}

{% block title %} Reviewers for {{ project.name }} {% endblock %}

{% block body_block %}

<div class="container project_container">

{% block project_header %}
    <div class="row proj_header">
        <div class="col-xs-10 col-md-10">
            <h2><a style="text-decoration:none; color:black;" href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></h2>
            <h4><strong>Category:</strong> {{ project.rfp.name }}</h4>
            <p><strong>Team Leader:</strong> <a href = "{% url 'user_profile' %}">{{ project.user.userprofile }}</a> - {{ project.user.email }}</p>
            <p><strong>Research Unit:</strong> {{ project.user.userprofile.organization }} - {{ project.user.userprofile.insitute_research_unit}}</p>
        </div>
    </div>
{% endblock %}

{% block project_tab %}
<!--Project Tab-->
<div class="row project_tab">
    <div class="col-xs-12 col-md-12">
    <ul class="nav nav-tabs">
        <li class="tab_role" role="presentation"><a href="{% url 'project_detail' project.id %}">Details</a></li>
        <li class="tab_role" role="presentation"><a href="{% url 'project_budget' project.id %}">Budget</a></li>
        <li class="tab_role active" role="presentation"><a href="{% url 'project_reviewer' project.id %}">Reviewers</a></li>
    </ul>
        </div>
</div>
{% endblock %}

{% block reviewer_details %}
<!--Reviewer Detail-->
<div class="row " id="reviewer_detail">
            <div class="col-xs-12 col-md-12">
            <h3>Proposed Reviewer
            </h3>

               <table class="table">

                <thead>
                        <tr>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for r in prop_rev_list %}
                    {% if r.type == "proposed" %}
                    <tr>
                        <td>{{ r }}</a></td>
                        <td>{{ r.email }}</td>
                        <td>{{ r.city }}</td>
                        <td>{{ r.country }}</td>
                        <td>{% if is_pi %}<a href = "{% url 'edit_reviewer' r.pk %}">Edit</a> {% endif %}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_pi %}<p>
                <a href="{% url 'add_unique_reviewer' project.pk %}">
                Propose another reviewer
                </a></p>{% endif %}
            </div>
        </div>
    <h3>Excluded Reviewer</h3>
            <table class="table">

                <thead>
                        <tr>
                            <th>Contact</th>

                            <th>Institution</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for r in prop_rev_list %}
                    {% if r.type == "excluded" %}
                    <tr>
                        <td>{{ r.first_name }} {{ r.last_name }}</td>

                        <td>{{ r.institution }}</td>
                        <td>{{ r.country }}</td>
                        <td>{% if is_pi %}<a href = "{% url 'edit_excluded_reviewer' r.pk %}">Edit</a> {% endif %}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_pi %}<p>
                <a href="{% url 'exclude_unique_reviewer' project.pk %}">
                Exclude another reviewer
                </a></p>{% endif %}

    {% block project_next %} {% endblock %}

</div>
{% endblock %}

{% endblock %}