{% extends 'base.html' %}

{% block title %} {{ project.name }} {% endblock %}

{% block body_block %}

<div class="container project_container">

     <div class="row proj_header">
        <div class="col-xs-10 col-md-10">
            <h2><a style="text-decoration:none; color:black;" href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></h2>
            <h4><strong>Category:</strong> {{ project.rfp.name }}</h4>
            <p><strong>Team Leader:</strong> <a href = "{% url 'user_profile' %}">{{ project.user.userprofile }}</a> - {{ project.user.email }}</p>
            <p><strong>Research Unit:</strong> {{ project.user.userprofile.organization }} - {{ project.user.userprofile.insitute_research_unit}}</p>
        </div>
    </div>

<!--Project Tab-->
<div class="row project_tab">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-tabs">
            <li class="tab_role active" role="presentation"><a href="{% url 'project_detail' project.id %}">Project details</a></li>
            <li class="tab_role" role="presentation"><a href="{% url 'project_budget' project.id %}">Budget</a></li>
            <li class="tab_role" role="presentation"><a href="{% url 'project_reviewer' project.id %}">Reviewers</a></li>
            <li class="pull-right">{% if is_pi %}<a href="{% url 'edit_project' project.id %}">Edit the project details</a> {% elif is_rev %}<a href="{% url 'post_review' project.id %}">Post a review</a> {% endif %} </li>
        </ul>
    </div>
</div>

<!-- Project Details -->
<div class="row" id="project_detail">

<div class="col-xs-12 col-md-12">

{% for p in project_data %}
    {% if p.label == '' %}
       <p class="project_data hide" id=""><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>

       {% elif p.name == 'document' %}

       <div class = "col-xs-12 col-md-4">

           <p class="file_field"><strong>Document: </strong></p>
       </div>

       <div class = col-md-8>
          <p>{% if project.document %}<a href="{{ project.document.url }}" target="_blank"> {{ project.document.name }} </a> {% endif %}</p>
       </div>
       {% else %}

       <p class="project_data" id="{{ p.label|slugify }}"><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>
    {% endif %}

{% endfor %}
    </div>
</div>


</div>

{% endblock %}