{% extends 'base.html' %}

{% block title %} Reviewers for {{ project.name }} {% endblock %}

{% block body_block %}

<div class="container">

{% block project_header %}
<!--Project Header-->
{% include 'rfp/project/project_header.html' %}
{% endblock %}

{% block project_tab %}
<!--Project Tab-->
{% include 'rfp/project/project_tab.html' %}
{% endblock %}

{% block reviewer_details %}
<!--Reviewer Detail-->
{% if project.rfp.add_reviewer %}
{% load user_extras %}
<!--Reviewer Detail-->
<div class="row " id="reviewer_detail">
            <div class="col-xs-12 col-md-12">
            <h3>Proposed Reviewer
            </h3>

               <table class="table">

                <thead>
                        <tr>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                </thead>

                    <tbody>
                    {% for r in prop_rev_list %}

                            <tr>
                                <td>{{ r }}</td>
                                <td>{{ r.email }}</td>
                                <td>{{ r.city }}</td>
                                <td>{{ r.country }}</td>
                                <td>{% if user|is_pi %}<a href = "{% url 'edit_reviewer' r.pk %}?redirect={{ current_url }}">Edit</a> {% endif %}</td>
                            </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% if user|is_pi %}<p>
                <a href="{% url 'add_unique_reviewer' project.pk %}?redirect={{ current_url }}">
                Propose another reviewer
                </a></p>{% endif %}
            </div>

    <div class="col-xs-12 col-md-12">
    <h3>Excluded Reviewer</h3>
            <table class="table">

                <thead>
                        <tr>

                            <th>Contact</th>
                            <th>Institution</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for r in excluded_rev_list %}

                    <tr>

                        <td>{{ r.first_name }} {{ r.last_name }}</td>
                        <td>{{ r.institution }}</td>
                        <td>{{ r.country }}</td>
                        <td>{% if user|is_pi %}<a href = "{% url 'edit_excluded_reviewer' r.pk %}?redirect={{ current_url }}">Edit</a> {% endif %}</td>

                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% if user|is_pi %}<p>
                <a href="{% url 'exclude_unique_reviewer' project.pk %}?redirect={{ current_url }}">
                Exclude another reviewer
                </a></p>{% endif %}

    {% block project_next %} {% endblock %}

    </div>
</div>

{% endif %}

{% endblock %}

</div>

<script>
     $('#reviewer_tab').addClass('active');
</script>

{% endblock %}

