{% extends 'base.html' %}

{% block title %} Reviewers for {{ project.name }} {% endblock %}

{% block body_block %}

<div class="container">

{% block project_header %}
<!--Project Header-->
{% include 'rfp/project/project_header.html' %}
{% endblock %}

{% block project_tab %}
<!--Project Tab-->
{% include 'rfp/project/project_tab.html' %}
{% endblock %}

{% block reviewer_details %}
<!--Reviewer Detail-->
{% include 'rfp/project/project_reviewer.html' %}

{% endblock %}

</div>

<script>
     $('#reviewer_tab').addClass('active');
</script>

{% endblock %}

