{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}

<div class="container">

    <h2>{{ project.rfp.name }}</h2>
    <h1>{{ project.name }}</h1>
    
    <p>{{ project.starting_date }}</p>
    <p>{{ project.project_duration }}</p>
    <p>{{ project.ending_date }}</p>
    <p>{{ project.purpose }}</p>
    <p>{{ project.scope_of_work }}</p>
    <p> {{ project.anticipated_impact }}</p>


<form class="form-horizontal" method="post" action="{% url 'project_detail' project.id %}">

    {% csrf_token %}

        {% for f in form %}
        <div class="form-group">
            {{ f.label }}
            {{ f }}
        </div>
        {% endfor %}

     <input class="btn btn-primary" type="submit" value="submit"  />
     <input type="hidden" name="next" value="{% url 'user_profile' %}" />

</form>

</div>

{% endblock %}