{% extends 'base.html' %}

{% block title %} Budget for {{ project.name }} {% endblock %}

{% block body_block %}

<div class="container">

{% block project_header %}
<!--Project Header-->
{% include 'rfp/project/project_header.html' %}
{% endblock %}

{% block project_tab %}
<!--Project Tab-->
{% include 'rfp/project/project_tab.html' %}
{% endblock %}


<!-- Project Budget for HR-->
{% block project_budget_html %}
    {% include 'rfp/project/project_budget.html' %}
{%endblock %}

    {% block project_next %} {% endblock %}

</div>

<script>
    $('#budget_tab').addClass('active');
</script>
{% endblock %}