{% extends 'base.html' %}

{% block title %}Propose your Reviewers{% endblock %}

{% block body_block %}

<div class="container">

     <div class="steps">
     <div class="col-xs-4 col-md-4"><button class = "progress_step" id="step_1" disabled>1 - Create the project</button></div>
     <div class="col-xs-4 col-md-4"><button class = "progress_step" id="step_2" disabled>2 - Complete the budget</button></div>
     <div class="col-xs-4 col-md-4"><button class = "progress_step active" id="step_3" disabled>3 - Propose the reviewers</button></div>

</div>

        <div class="col-xs-12 col-md-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:95%">
            95%
          </div>
        </div>
        </div>

    <h2><a style="text-decoration:none; color:black;" href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></h2>
    <h4><strong>Category:</strong> {{ project.rfp.name }}</h4>
    <p><strong>Team Leader:</strong> <a href = "{% url 'user_profile' %}">{{ user.userprofile }}</a></p>
    <p><strong>Research Unit:</strong> {{ user.userprofile.organization }} - {{ user.userprofile.insitute_research_unit}}</p>
    <p>Please add contact information for each of your proposed Reviewers. <br></p>

<form method="post" action="{% url 'propose_reviewer' project.id %}">
    {% csrf_token %}

    {{ formset.management_form }}

    {% for f in formset %}
    <h4>Reviewer Contact Information</h4>
    <div class="form-group">
        {% for form in f %}
        {% if form.label == 'First name' %}
        <div class = "row">
            <div class = "col-xs-12 col-md-4">
                {{ form.label }}
                {{ form }}
                {{ form.errors }}
            </div>
        {% elif form.label == 'Last name' %}
            <div class = "col-xs-12 col-md-4">
                {{ form.label }}
                {{ form }}
                {{ form.errors }}
            </div>
        {% elif form.label == 'Email' %}
                <div class = "col-xs-12 col-md-4">
                {{ form.label }}
                    <div class="input-group"><span class="input-group-addon" id="basic-addon1">@</span>{{ form }}</div>

                {{ form.errors }}
            </div>
        </div>

        {% elif form.label == 'Institution' %}
                <div class = "row">
                <div class = "col-xs-12 col-md-8">
                    {{ form.label }}
                    {{ form }}
                    {{ form.errors }}
                </div>
                </div>

         {% elif form.label == 'Address' %}
                <div class = "row">
                <div class = "col-xs-12 col-md-8">
                    {{ form.label }}
                    {{ form }}
                    {{ form.errors }}
                </div>
                </div>

        {% elif form.label == 'City' %}
        <div class = "row">
            <div class = "col-xs-12 col-md-4">
                {{ form.label }}
                {{ form }}
                {{ form.errors }}
            </div>
        {% elif form.label == 'State' %}
            <div class = "col-xs-12 col-md-4">
                {{ form.label }}
                {{ form }}
                {{ form.errors }}
            </div>
        {% elif form.label == 'Postcode' %}
                <div class = "col-xs-12 col-md-4">
                {{ form.label }}
                    {{ form }}

                {{ form.errors }}
            </div>
        </div>

        {% elif form.label == 'Country' %}
                <div class = "row">
                <div class = "col-xs-12 col-md-4">
                    {{ form.label }}
                    {{ form }}
                    {{ form.errors }}
                </div>
                </div>

        {% else %}

        {{ form }}
        {{ form.errors }}

        {% endif %}

        {% endfor %}

    </div>
    <hr>
    {% endfor %}

    <input class="save_btn btn btn-primary pull-right" type="submit" value="Save"  />
    <input type="hidden" name="next" value="{% url 'user_profile' %}" />

</form>

</div>

{% endblock %}