{% extends 'base.html' %}

{% block title %} {{ rfp_campaign.name }} {% endblock %}

{% block body_block %}

<div class="container">

    <h2> {{ rfp_campaign.name }}</h2>

    <div style="margin:5px 5px 5px 5px;" class="pull-left">
        <img src="{{ rfp_campaign.logo.url }}" alt="{{ c.name }}">
    </div>


    {% autoescape off %}
        {{ rfp_campaign.instructions|linebreaksbr }}
    {% endautoescape %}

    <a href="{% url 'create_project' %}?rfp={{ rfp_campaign.id }}&u={{ user.id }}">
        <button class="btn btn-primary pull-right" type="apply" value="apply" >Apply</button>
    </a>

</div>

{% endblock %}