
    {% for c in list_of_rfp %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
        <!--Review Title-->
        <div class="row cs_header">

            <div class="cs_block_title">
                            <div class="cs_icon_cell pull-left rfp_icon">
                                <span class="glyphicon glyphicon-book"></span>
                            </div>

                            <div class="pull-left cs_title_cell">
                            {{ c }}
                            </div>
            </div>

        </div>

    {% if c.logo %}
    <div class="col-xs-12 col-md-4">
                                  <div class="thumbnail no_border">

                                        <img src="{{ c.logo.url }}" alt="{{c.name }}">

                                  </div>

    </div>
     {% endif %}
    {% autoescape off %}
        {{ c.instructions|linebreaksbr }}
    {% endautoescape %}

    <a class="btn btn-apply pull-right" href="{% url 'create_project' c.id %}">Apply</a>
 </div>
</div>
    {% endfor %}


