<!--Project Form-->
<form class="" method="post" enctype="multipart/form-data" action="{% url 'create_project_previous' project.id %}">
{% load bootstrap3 %}

    {% csrf_token %}
    {% for f in form %}

        {% if f.label == 'Upload your document:' %}

        {% else %}
            <div class="form-group">

                 {% bootstrap_label f.label %}{% if f.field.required %}<span class="req">*</span></strong>{% endif %}
                 {{ f }}
                 {{ f.errors }}

            </div>
        {% endif %}

    {% endfor %}

    {% for f in form %}

    {% if f.label == 'Upload your document:' %}

     <div class="row">
            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                <h3><strong>Proposal description</strong></h3>
                    {% if rfp.template %}
                        <p>Download the template <a href="{{ rfp.template.url }}" target="_blank">{{ rfp.template }}</a>,
                            complete following the instructions and upload it just below (PDF only).</p><br>
                    {% endif %}
                </div>
                <div  style="padding-top:7px;padding-bottom:7px;" class="col-xs-12 col-md-4">

                    <strong>{{ f.label }} <span class="req">*</span></strong>
                </div>
                <div style="padding-right:0px;" class="col-xs-12 col-md-8">
                    {{ f }}
                    {{ f.errors }}
                </div>
            </div>
    </div>

    {% endif %}

    {% endfor %}

     <div class="col-md-4 col-md-offset-8">
        <input class="btn btn-apply" type="submit" value="Save and Continue"  />
        <input class="btn btn-apply" type="submit" value="Next" name="Next" />
    </div>

</form>