<div class="row proj_header">

        <div class="col-xs-12 col-md-12">
            <h2>{{ project.name }}</h2>
            <h4><strong>Category:</strong> {{ project.rfp.name }}</h4>
            <p><strong>Team Leader:</strong> <a href = "{% url 'user_profile' %}">{{ project.user.userprofile }}</a> - {{ project.user.email }}</p>
            <p><strong>Research Unit:</strong> {{ project.user.userprofile.organization }} - {{ project.user.userprofile.insitute_research_unit}}</p>

        </div>

</div>