<!--Project Form-->
<form class="" method="post" enctype="multipart/form-data" action="{% url 'create_project_previous' project.id %}">
{% load bootstrap3 %}

    {% csrf_token %}
    {% for f in form %}

        {% if f.label == 'Upload your document:' %}
    <div class="row">
            <div class="form-group">

                <div class="col-xs-12 col-md-12">
                {% if project.rfp.template %} <strong>Template</strong> (Download the template, complete following the instructions and upload it below.) : <a href="{{ project.rfp.template.url }}">{{ project.rfp.template }}</a>
                         <br>
                    {% endif %}
                </div>

                <div  style="padding-top:7px;" class="col-xs-12 col-md-4">
                    <strong>Update document: <span class="req">*</span></strong>
                </div>
                <div style="padding-right:0px;" class="col-xs-12 col-md-8">
                    {{ f }}
                    {{ f.errors }}
                </div>
            </div>
    </div>

        {% else %}
            <div class="form-group">

                 {% bootstrap_label f.label %}{% if f.field.required %}<span class="req">*</span></strong>{% endif %}
                 {{ f }}
                 {{ f.errors }}

            </div>
        {% endif %}

    {% endfor %}

     <input class="btn btn-apply pull-right" type="submit" value="Next"  />

</form>