{% if project.rfp.add_reviewer %}
{% load user_extras %}
<!--Reviewer Detail-->
<div class="row " id="reviewer_detail">
            <div class="col-xs-12 col-md-12">

        <div class="row cs_header">

        <div class="cs_block_title">
                        <div class="cs_icon_cell pull-left review_icon">
                            <span class="glyphicon glyphicon-comment"></span>
                        </div>

                        <div class="pull-left cs_title_cell">
                        Reviewers
                        </div>
                    </div>
         </div>

                <div class="cs_block_sub_title">

                        <div class="pull-left cs_title_cell cs_sub_title_cell_rev">
                        Proposed Reviewers
                        </div>
                </div>


               <table class="table">

                <thead>
                        <tr>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Institution</th>
                            <th>City</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                </thead>

                    <tbody>
                    {% for r in prop_rev_list %}

                            <tr>
                                <td>{{ r }}</td>
                                <td>{{ r.email }}</td>
                                <td>{{ r.institution }}</td>
                                <td>{{ r.city }}</td>
                                <td>{{ r.country }}</td>
                                <td>{% if user|is_pi %}<a class="act-link" href = "{% url 'edit_reviewer' r.pk %}?redirect={{ current_url }}">Edit</a> {% endif %}</td>
                            </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% if user|is_pi %}<p>
                <a class="act-link" href="{% url 'add_unique_reviewer' project.pk %}?redirect={{ current_url }}">
                Propose another reviewer
                </a></p>{% endif %}
            </div>

    <div class="col-xs-12 col-md-12">

                <div class="cs_block_sub_title">
                        <div class="pull-left cs_title_cell cs_sub_title_cell_rev">
                        Excluded Reviewers
                        </div>
                </div>

            <table class="table">

                <thead>
                        <tr>

                            <th>Contact</th>
                            <th>Email</th>
                            <th>Institution</th>
                            <th>City</th>
                            <th>Country</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for r in excluded_rev_list %}

                    <tr>

                        <td>{{ r.first_name }} {{ r.last_name }}</td>
                        <td>{{ r.email }}</td>
                        <td>{{ r.institution }}</td>
                        <td>{{ r.city }}</td>
                        <td>{{ r.country }}</td>
                        <td>{% if user|is_pi %}<a class="act-link" href = "{% url 'edit_excluded_reviewer' r.pk %}?redirect={{ current_url }}">Edit</a> {% endif %}</td>

                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% if user|is_pi %}<p>
                <a class="act-link" href="{% url 'exclude_unique_reviewer' project.pk %}?redirect={{ current_url }}">
                Exclude another reviewer
                </a></p>{% endif %}

    {% block project_next %} {% endblock %}

    </div>
</div>

{% endif %}