<div class="row project_tab">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-tabs">
            <li id="project_tab" class="tab_role" role="presentation"><a href="{% url 'project_detail' project.id %}">Project</a></li>
            <li id ="budget_tab" class="tab_role" role="presentation"><a href="{% url 'project_budget' project.id %}">Budget</a></li>

            {% if is_pi %}
                {% if project.rfp.add_reviewer %}
                    <li  id="reviewer_tab" class="tab_role" role="presentation"><a href="{% url 'project_reviewer' project.id %}">Reviewers</a></li>
                {% endif %}
            {% endif %}

            {% if is_rev %}<li  id="your_review" class="tab_role" role="presentation"><a href="{% url 'project_review' project.id %}">Your Review</a></li>{% endif %}
            {% if is_pi and project.rfp.status == 'closed' %}<li  id="recomendations_tab" class="tab_role" role="presentation"><a href="{% url 'project_recommendations' project.id %}">Recommendations</a></li>{% endif %}

        </ul>
    </div>
</div>
