<div class="row" id="project_detail">
{% load user_extras %}

    <div class="col-xs-12 col-md-12">
    {% include 'elements/project_title.html' %}


    {% if user|is_pi and project.rfp.status == 'open' %} <strong><p><a class="act-link" href="{% url 'edit_project' project.id %}">Click Here to edit the project details</a></p></strong>{% endif %}

    {% for p in project_data %}
        {% if p.label == '' %}
           <p class="project_data hide" id=""><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>

           {% elif p.name == 'document' %}
            <div class="row">
                   <div class = "col-xs-12 col-md-4">

                       <p><strong>Document: </strong></p>
                   </div>

                   <div class = "col-md-8">
                      <p>{% if project.document %}<a href="{{ project.document.url }}" target="_blank"> {{ project.document.name }} </a> {% endif %}</p>
                   </div>
                 </div>
           {% else %}

           <p class="project_data" id="{{ p.label|slugify }}"><strong>{{ p.label }} </strong>{{ p.data|linebreaksbr }}</p>


        {% endif %}

    {% endfor %}

        </div>
</div>